<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/static/js/community.js}"></script>
</head>

<body>
	<div class="wrap">
		<header th:replace="fragments/header.html :: fg-header"></header>

		<!-- 해당 페이지 클래스명을 적어주세요-->
		<div class="project_detail">
			<div class="container">
				<div class="project_title">
					<span class="pj_tag" th:text="${vo.prCategory}"></span>
					<h2 th:text="${vo.prTitle}"></h2>
					<div class="writer">
						<div class="profile_img" style="background:url(../images/atom02.png) 50% 50% no-repeat;background-size:cover;"></div>
						<a href="#" th:text="${vo.prWriter}"></a>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-8">
						<img src="../images/temp/pj_img.jpg">
					</div>
					<div class="col-12 col-md-4">
						<div class="pj_state">
							<dl>
								<dt>모인금액</dt>
								<dd>
									<strong>1,757,000</strong>원 &nbsp;&nbsp;/&nbsp;&nbsp; 달성률 <b>58%</b>
								</dd>
								<dt>남은시간</dt>
								<dd>
									<strong>10</strong>일
								</dd>
								<dt>후원자</dt>
								<dd>
									<strong>69</strong>명
								</dd>
							</dl>
						</div>
						<div class="help_box">
							<h4>펀딩 진행중</h4>
							<p>목표 금액인 3,000,000원이 모여야만 결제됩니다.<br>결제는 2021년 8월 14일에 다함께 진행됩니다.</p>
						</div>
						<div class="sponsor">
							<button type="button" class="btn btn-outline-secondary btn_like">
								<i class="far fa-heart"></i>
								<!-- <i class="fas fa-heart"></i> -->
							</button>
							<button type="button" class="btn btn-primary btn_sponsor">이 프로젝트 후원하기</button>
						</div>
					</div>
				</div>
				<div class="row">
					<ul class="tab_menu">
						<li class="tab_01"><a th:href="@{/project/story/} + ${vo.pno}">스토리</a></li>
						<li class="tab_02 active"><a href="javascript:;">커뮤니티<span class="count">2</span></a></li>
						<li class="tab_03"><a th:href="@{/project/notice/} + ${vo.pno}">펀딩안내</a></li>
					</ul>
				</div>
			</div>
			
			<div class="container-fluide">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 project_content">
							<div id="community" style="display:block;">
								<div class="community_contents">
									<button type="button" class="btn btn-dark btn-addComt" id="btn-addComt" data-bs-toggle="modal" data-bs-target="#community_modal">커뮤니티 글 작성하기</button>
									<div th:switch="${com.size}">
										<div class="no_data" th:case=0>
											<i class="far fa-meh"></i>
											<p>게시글이 없습니다.</p>
										</div>
										<div class="post_list" th:case="*">
											<div class="post" th:each="com :${com}">
												<div class="pf_wrap">
													<div class="pf_img" style="background:url(../images/atom02.png) 50% 50% no-repeat;background-size:cover;"></div>
													<div class="pf_link">
														<a href="#">
															<span class="name" >[[${com.writer}]]</span>
															<i class="fas fa-angle-right"></i>
														</a>
														<span class="date">[[${com.regDate}]]</span>
													</div>
													<form id="delForm" method="post">		
														<ul class="btn_wrap">
															<li><button type="button" class="btn_modify" data-bs-toggle="modal" data-bs-target="#community_modal">수정</button></li>
															<li><button type="button" class="btn_del">삭제</button></li>													
														</ul>
														<input type="hidden" name="communityno" th:value=${com.communityno} class="cno">
														<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
													</form>
												</div>
												<div class="txt">
													<p>[[${com.contents}]]</p>
												</div>
												<div class="amount_wrap">
													<a href="javascript:;" class="ic" data-bs-toggle="tooltip" data-bs-placement="right" title="눌러서 댓글 보기"><i class="far fa-comments"></i><b>2</b></a>
													<p class="txt"><b>0</b>개의 댓글이 있습니다.</p>
													<button type="button" class="btn btn-sm btn-outline-secondary addCmt">댓글작성</button>
													<div class="addCmt_wrap">
														<form id="cmtForm" method="post">
															<textarea class="form-control" name="contents" placeholder="댓글 내용을 작성해주세요."></textarea>
															<div class="btn_wrap">
																<button type="button" class="btn btn-sm btn-outline-primary cmtRegi">등록</button>
																<button type="button" class="btn btn-sm btn-outline-danger cmtCancel">취소</button>
															</div>
															<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
														</form>
													</div>
												</div>
												<div class="cmt_wrap"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-12 col-md-4">
							<div class="writer_profile">
								<h4>창작자 소개</h4>
								<div class="writer">
									<div class="pf_wrap">
										<div class="pf_img" style="background:url(../images/atom02.png) 50% 50% no-repeat;background-size:cover;"></div>
										<div class="pf_link">
											<a href="#">
												<span class="name" th:text="${vo.prWriter}"></span>
											</a>
										</div>
									</div>
								</div>
								<div class="info">
									<p class="txt" th:text="${vo.prWriterintro}"></p>
									<dl>
										<dt>진행한 프로젝트</dt>
										<dd><em>15</em></dd>
										<dt>후원한 프로젝트</dt>
										<dd><em>115</em></dd>
									</dl>
									<button type="button" class="btn btn-outline-secondary w-100 btn-qna" data-bs-toggle="modal" data-bs-target="#qna_modal">
										<i class="far fa-envelope"></i> 문의하기
									</button>
								</div>
							</div>
							<div class="payment _01">
								<h4>후원하기</h4>
								<p class="money"><strong>+10000</strong></p>
								<p>추가 후원금(선택)</p>
								<input type="text" id="add_money" class="form-control" placeholder="0">
								<p class="s_txt">- 더 후원해주시면 프로젝트 성사가 앞당겨집니다.</p>
								<div class="btn_wrap">
									<button type="button" id="pay_01" class="btn btn-sm btn-outline-secondary">+ 1만 원</button>
									<button type="button" id="pay_02" class="btn btn-sm btn-outline-secondary">+ 30만 원</button>
									<button type="button" id="pay_03" class="btn btn-sm btn-outline-secondary">+ 50만 원</button>
									<button type="button" id="pay_04" class="btn btn-sm btn-outline-secondary">+ 100만 원</button>
								</div>
								<button type="button" class="btn btn-primary w-100" id="btn_payment">1만 원 후원하기</button>
							</div>
							<div class="payment _02">
								<h4>결제하기</h4>
								<p class="money"><strong id="payment_money">+1000</strong></p>
								<p>수량 선택</p>
								<!-- <input type="text" id="add_money" class="form-control" placeholder="0"> -->

								<div class="incremental-input" id="counter-input">
									<button type="button" class="btn btn-sm btn-outline-secondary btn_minus">-</button>
									<span class="count">1</span>
									<button type="button" class="btn btn-sm btn-outline-secondary btn_plus">+</button>
								</div> 
								<button type="button" class="btn btn-primary w-100" id="btn_payment"><strong class="result_money">1000</strong>원 결제하기</button>
							</div>
						</div>
					</div>

				</div>
			</div>

			<!-- QnA Modal -->	
			<div class="modal fade" id="qna_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">창작자에게 문의</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<dl>
								<dt>받는사람</dt>
								<dd>
									<input type="text" class="form-control" id="receiver" value="" readonly placeholder="작성자닉네임">
								</dd>
								<dt>문의내용</dt>
								<dd>
									<select class="form-select" id="qna_category">
										<option value="">문의유형</option>
										<option value="선물/후원">선물/후원</option>
										<option value="프로젝트">프로젝트</option>
										<option value="수령자 정보">수령자 정보</option>
										<option value="배송">배송</option>
										<option value="기타">기타</option>
									</select>
								</dd>
							</dl>
							<textarea class="form-control" id="qna_contents" rows="5" col="20" placeholder="프로젝트 진행자에게 문의하고 싶은 내용을 적어주세요."></textarea>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary" id="addQnaBtn">등록 하기</button>
						</div>
					</div>
				</div>
			</div>
		
			<!-- Community Modal -->	
			<div class="modal fade" id="community_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<form id="comForm" method="post">
							<div class="modal-header">
								<h5 class="modal-title">커뮤니티</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<dl>
									<!-- <dt>제목</dt>
									<dd>
										<input type="text" class="form-control" name="title" id="com_title" placeholder="제목을 입력해주세요.">
									</dd> -->
									<dt>작성 내용</dt>
									<dd>
										<textarea class="form-control" id="com_contents"  name="contents" rows="15" col="20" placeholder="커뮤니티에 작성하실 글을 입력해 주세요."></textarea>
									</dd>
								</dl>
								<div class="form-check">
									<input class="form-check-input" name="secret" type="checkbox" value="Y" id="secretChecked" checked>
									<label class="form-check-label" for="flexCheckChecked">비밀글로 작성</label>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="addCommunityBtn">등록 하기</button>
							</div>
							<input type="hidden" class="cno" name="communityno" value="">
							<input type="hidden" class="pno" name="pno" th:value="${vo.pno}">
							<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
						</form>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" id="pno" name="project" th:value="${vo.pno}">
	</div>
	<script>
	$(function(){

		let pno = $("#pno").val();				// 해당 페이지의 프로젝트 넘버
		let cmModal = $("#community_modal");	// 커뮤니티 모달 
		let communityForm = $("#comForm"); 		// 커뮤니티 모달 폼 
		let cmtForm = $("#cmtForm");			// 댓글 작성 폼


		// 커뮤니티 modal open
		$("#btn-addComt").on("click", function(){
			$("#community_modal .modal-title").text("커뮤니티 글 작성");
			$("#addCommunityBtn").text("등록하기");
			$("#com_title").val("");
			$("#com_contents").text("");
		}); 
		
		// 커뮤니티 수정 modal open
		$(".btn_modify").on("click", function(){
			let contents = $(this).closest(".post").find(".txt p").text();
			let cno = $(this).closest(".post").find(".cno").val();

			cmModal.find(".modal-title").text("커뮤니티 게시글 수정");
			cmModal.addClass("modify");
			cmModal.find(".cno").val(cno); 
			$("#addCommunityBtn").text("수정하기");
			$("#com_contents").text(contents);
			
	 	}); 
		
		// 커뮤니티 등록 및 수정 
	 	$("#addCommunityBtn").on("click", function(){
	 		let check;
			if(cmModal.hasClass("modify")){ 
				check = confirm("글을 수정 하시겠습니까?");
				if(check){
					communityForm.attr("action", "/com/modify/" + pno);
					communityForm.submit();
					cmModal.removeClass("modify");
				}else{
					cmModal.removeClass("modify");
					return false;

				}
			}else{ 
				check = confirm("글을 등록 하시겠습니까?");
				if(check){
					communityForm.attr("action", "/com/insert/" + pno);
					communityForm.submit();					
				}else{
					return false;
				}
			}
		}); 
		
		// 커뮤니티 글 삭제
	 	$(".btn_del").on("click", function(){
			let delForm = $(this).closest(".post").find("#delForm");
			let check = confirm("글을 삭제 하시겠습니까?");

			if(check){
				delForm.attr("action", "/com/delete/" + pno);
				delForm.submit();
			}else{

				return false;
			}
		})

		// 댓글 작성 open
		$(".addCmt").on("click", function(){
			$(this).siblings(".addCmt_wrap").show();
		});
		// 댓글 작성 close
	 	$(".cmtCancel").on("click", function(){
			$(this).parents().closest(".addCmt_wrap").hide();
		});
	 	
		// 댓글작성
		$(".cmtRegi").on("click", function(){
			let post = $(this).parents().closest(".post"); // 부모 글
			let cno = post.find(".cno").val(); // 부모 번호
			let cmt_wrap = post.find(".cmt_wrap");
			
			let txt = post.find("textarea");
			let obj = {writer:"sorazzang", contents: txt.val(), communityno: cno, community: cno};
			
			console.log(obj);
			let check = confirm("댓글을 등록 하시겠습니까?");
			if(check){
				commentManager.add(obj, function(obj){
					alert("새로운 댓글이 추가되었습니다.")
					cmt_wrap.children().remove();
					txt.val("");
				});	
				cmtList(cno); // 커뮤니티 넘버를 넘겨서 댓글 목록 불러오기 호출 
			}else{
				txt.val("");
				return false;
			}
		})
		
		
		
		// 해당 글에 대한 댓글 목록
		$(".amount_wrap .ic").on("click", function(){
/* 			commentCno = $(this).parents().closest(".post").find(".cno").val();
			$(this).hide();
			$(this).next().show();
			let cno = $(this).parents().closest(".post").find(".cno").val();
			let cmt = $(this).parents().closest(".post").find(".amount_wrap");
			cmt.after().append("<div class=cmt_wrap id=cmtno" +commentCno + ">");
			commentManager.getAll(cno, printList); */
		});
		
		function cmtList(cno){
			commentManager.getAll(cno, printList);
		}
		
		function printList(list){
			let comObj;
			console.log("list : "+list)
			let div = $("<div>");
			for (let i=0; i<list.length; i++){
				comObj = list[i];
				console.log("안찍히니 : "+  comObj);
				/* let post = $("#cmtno" + commentCno);
				let date = comObj.regDate;
				let imgUrl = "../images/atom02.png";
				let link = "#"
				let cmt = $("<div class=cmt>");
				let pf_wrap =$("<div class=pf_wrap>");
				let pf_img =$("<div class=pf_img style='background:url(" + imgUrl + ") 50% 50% no-repeat;background-size:cover;'>");
				let pf_link = $("<div class=pf_link>");
				pf_link.append($("<a href='" + link + "'><span class=name>" + comObj.writer+ "</span><i class='fas fa-angle-right'></i>"));
				let regdate = $("<span class='date'>" + formatDate(date) +"</span>");
				let content = $("<div class=txt><p>"+ comObj.contents +"</p></div>");
				let rmBtn = $("<button class='btn btn-sm btn-outline-danger btnCmtremove'>삭제</button>");
				let cmo = $("<input type=hidden name=commentno value=" + comObj.commentno + ">");
				cmo.addClass("cmtNo")
				pf_wrap.append(pf_img);
				pf_wrap.append(pf_link);
				pf_link.append(regdate);
				cmt.append(pf_wrap);
				cmt.append(content);
				cmt.append(cmo);
				content.append(rmBtn);

				post.append(cmt);
				post.closest(".amount_wrap").find(".txt b").text(list.length);  */
			}

		}
		

	})
	</script>
</body>
</html>