<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/static/js/community.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/projectHead.js}"></script>
</head>

<body>
	<div class="wrap">
		<header th:replace="fragments/header.html :: fg-header"></header>

		<!-- 해당 페이지 클래스명을 적어주세요-->
		<div class="project_detail">
			<div th:replace="project/projectHead.html :: project_head"></div>

			<div class="container-fluide">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-8 project_content mb-4">
							<div id="community" style="display:block;">
								<div class="community_contents">
									<button type="button" class="btn btn-dark btn-addComt" id="btn-addComt" data-bs-toggle="modal" data-bs-target="#community_modal" sec:authorize="isAuthenticated()">커뮤니티 글 작성하기</button>
									<button type="button" class="btn btn-dark btn-addComt loginCheck" sec:authorize="!isAuthenticated()">커뮤니티 글 작성하기</button>
									<div th:switch="${com.size}">
										<div class="no_data" th:case=0>
											<i class="far fa-meh"></i>
											<p>게시글이 없습니다.</p>
										</div>
										<div class="post_list" th:case="*">
											<div class="post" th:each="com:${com}" >
												<div class="pf_wrap">
<!--  														<div class="pf_img" th:style="'background:url(' + @{/static/images/profileUpload/}+${com.profile} + ') 50% 50% no-repeat;background-size:cover!important'"></div> -->
													<div class="pf_link">
														<span class="name">[[${com.writer}]]</span>
														<!-- <i class="fas fa-angle-right"></i> -->
														<!-- <a href="#">
															<span class="name" >[[${com.writer}]]</span>
															<i class="fas fa-angle-right"></i>
														</a> -->
														<span class="date">[[${com.regDate}]]</span>
													</div>
													<form id="delForm" method="post">		
														<ul class="btn_wrap">
															<li><button type="button" class="btn_modify" data-bs-toggle="modal" data-bs-target="#community_modal" sec:authorize="isAuthenticated()">수정</button></li>
															<li><button type="button" class="btn_del" sec:authorize="isAuthenticated()">삭제</button></li>													
														</ul>
														<input type="hidden" name="communityno" th:value=${com.communityno} class="cno">
														<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
													</form>
												</div>
												<div class="txt">
													<p class="comt" th:utext="${com.contents}">[[${com.contents}]]</p>
													<input type="hidden" th:value="${com.contents}" id="brText">
												</div>
												<div class="amount_wrap">
													<a href="javascript:;" class="ic" data-bs-toggle="tooltip" data-bs-placement="right" title="눌러서 댓글 보기"><i class="far fa-comments"></i><b>2</b></a>
													<p class="txt"><b>0</b>개의 댓글이 있습니다.</p>
													<button type="button" class="btn btn-sm btn-outline-secondary addCmt" sec:authorize="isAuthenticated()">댓글작성</button>
													<div class="addCmt_wrap">
														<form id="cmtForm" method="post">
															<textarea class="form-control" name="contents" placeholder="댓글 내용을 작성해주세요."></textarea>
															<div class="btn_wrap">
																<button type="button" class="btn btn-sm btn-outline-primary cmtRegi">등록</button>
																<button type="button" class="btn btn-sm btn-outline-danger cmtCancel">취소</button>
															</div>
															<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
														</form>
													</div>
												</div>
												<div class="cmt_wrap"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div th:replace="project/projectInfo.html :: project_info"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="project/modal.html :: qna_modal"></div>
		<div th:replace="project/modal.html :: community_modal"></div>
		<!-- <input type="hidden" id="pno" name="project" th:value="${vo.pno}"> -->
	</div>
	<script>
	$(function(){
		
		let pno = $("#pno").val();				// 해당 페이지의 프로젝트 넘버
		let cmModal = $("#community_modal");	// 커뮤니티 모달 
		let communityForm = $("#comForm"); 		// 커뮤니티 모달 폼 
		let cmtForm = $("#cmtForm");			// 댓글 작성 폼
		
		let userName = $(".post .pf_link .name").text();
		let cmtName = $(".cmt").find(".name").text();
		let loginUser = $("#user").text();
	
		// 커뮤니티 modal open
		$("#btn-addComt").on("click", function(){
			$("#community_modal .modal-title").text("커뮤니티 글 작성");
			$("#addCommunityBtn").text("등록하기");
			$("#com_title").val("");
			$("#com_contents").text("");
		}); 
		
		// 커뮤니티 수정 modal open
		$(".btn_modify").on("click", function(){
			let contents =$(this).closest(".post").children().find("#brText").val();
			let cno = $(this).closest(".post").find(".cno").val();
			
			cmModal.find(".modal-title").text("커뮤니티 게시글 수정");
			cmModal.addClass("modify");
			cmModal.find(".cno").val(cno); 

			$("#addCommunityBtn").text("수정하기");
			$("#com_contents").text(contents);

			var brText = contents.split('<br>').join("\r\n")
			$("#com_contents").text(brText);
			
	 	}); 
		
		// 커뮤니티 등록 및 수정 
	 	$("#addCommunityBtn").on("click", function(){
	 		let check;
			if(cmModal.hasClass("modify")){ 
				check = confirm("글을 수정 하시겠습니까?");
				if(check){
					getHtml();
					communityForm.attr("action", "/com/modify/" + pno);
					communityForm.submit();
					cmModal.removeClass("modify");
				}else{
					cmModal.removeClass("modify");
					return false;
				}
			}else{ 
				check = confirm("글을 등록 하시겠습니까?");
				if(check){
					getHtml();
					communityForm.attr("action", "/com/insert/" + pno);
					communityForm.submit();					
				}else{
					return false;
				}
			}
		}); 
		
		// 커뮤니티 글 삭제
	 	$(".btn_del").on("click", function(){
			let delForm = $(this).closest(".post").find("#delForm");
			let check = confirm("글을 삭제 하시겠습니까?");

			if(check){
				delForm.attr("action", "/com/delete/" + pno);
				delForm.submit();
			}else{
				return false;
			}
		})
		
		// 댓글 작성 open
		$(".addCmt").on("click", function(){
			$(this).siblings(".addCmt_wrap").show();
		});
		// 댓글 작성 close
	 	$(".cmtCancel").on("click", function(){
			$(this).parents().closest(".addCmt_wrap").hide();
			$(this).parents().closest(".post").find("textarea").val("");
		});
		
		let cmtNum; // 해당 커뮤니티글 넘버
		// 댓글작성
		$(".cmtRegi").on("click", function(){
			let post = $(this).parents().closest(".post"); // 부모 글
			cmtNum = post.find(".cno").val(); // 부모 번호
			let cmt_wrap = post.find(".cmt_wrap");
			let txt = post.find("textarea").val();
			let obj = {contents: txt, communityno: cmtNum, community: cmtNum};
			
			let check = confirm("댓글을 등록 하시겠습니까?");
			if(check){
				if(txt == ""){
					alert("댓글 내용을 입력해 주세요!");
					return false;
				}else{
					commentManager.add(obj, function(obj){
						alert("새로운 댓글이 추가되었습니다.");
						cmt_wrap.children().remove();
						printList(obj);
						post.find("textarea").val("");
						post.find(".ic").hide();
						post.find(".amount_wrap").find(".txt").show();
					});	
				}
			}else{
				txt.val('');
				return false;
			}
		})
		
		// 해당 글에 대한 댓글 목록
		$(".amount_wrap .ic").on("click", function(){
			cmtNum = $(this).parents().closest(".post").find(".cno").val();
			let cmt = $(this).parents().closest(".post").find(".amount_wrap");
			commentManager.getAll(cmtNum, printList); 
			$(this).hide();
			$(this).next().show();
		});

		// 게시글 append 
		function printList(list){
			let comObj;
			let div = $(".cno[value="+ cmtNum +"]").parent().closest(".post").find(".cmt_wrap");
			div.siblings(".amount_wrap").find(".txt b").text(list.length); 
			
			for (let i=0; i<list.length; i++){
				comObj = list[i];
				let date = comObj.regDate;
				let imgUrl = "../images/atom02.png";
				let link = "javascript:;";
				let cmt = $("<div class=cmt>");
				let pf_wrap =$("<div class=pf_wrap>");
				let pf_img =$("<div class=pf_img style='background:url(" + imgUrl + ") 50% 50% no-repeat;background-size:cover;'>");
				let pf_link = $("<div class=pf_link>");
				pf_link.append($("<a href='" + link + "'><span class=name>" + comObj.writer+ "</span>"));
				let regdate = $("<span class='date'>" + formatDate(date) +"</span>");
				let content = $("<div class=txt><p>"+ comObj.contents +"</p></div>");
				let rmBtn = $("<button class='btn btn-sm btn-outline-danger btnCmtremove'>삭제</button>");
				let cmo = $("<input type=hidden name=commentno value=" + comObj.commentno + ">");
				cmo.addClass("cmtNo");
				/*pf_wrap.append(pf_img); */
				pf_wrap.append(pf_link);
				pf_link.append(regdate);
				cmt.append(pf_wrap);
				cmt.append(content);
				cmt.append(cmo);
				content.append(rmBtn);

				div.append(cmt);
			}
			
			for(let i=0;i<$(".cmt").length;i++){
				let post = $(".cmt").eq(i).find(".pf_link .name").text();
				let btn = $(".cmt").eq(i).find(".pf_wrap").siblings(".txt").children(".btnCmtremove");
				
				if (loginUser == post){
					btn.show();
				}else{btn.hide();}
			}
		}
		
		// 날짜 포맷 
		function formatDate(timeValue){
			let date = new Date(timeValue);
			return date.getFullYear() + "-" + (date.getMonth()+1 >= 10?date.getMonth()+1 : '0' + (date.getMonth()+1)) + "-" + date.getDate();
		}
		
		// 댓글 삭제
		$(".post").on("click", ".btnCmtremove", function(){
			let post = $(this).parents().closest(".post"); // 부모 글
			let cmt_wrap = post.find(".cmt_wrap");
			
			cmtNum = $(this).parents().closest(".post").find(".cno").val();
			let cmo = $(this).parents().closest(".cmt").find(".cmtNo").val();
			let obj = {commentno: cmo, community: cmtNum};
			
			let check = confirm("댓글을 삭제 하시겠습니까?");
			if(check){
				commentManager.remove(obj, function(obj){
					cmt_wrap.children().remove();
					alert("댓글이 삭제되었습니다.")
					printList(obj);
				});	
			}else{
				return false;
			}
		})
		
		$(".tab_menu").children().removeClass("active");
		$(".tab_02").addClass("active")
		
		
		if(cmtName == loginUser){
			$("btnCmtremove").show();
		}else{
			$("btnCmtremove").hide();
		} 
		
		for(let i=0;i<$(".post").length;i++){
			let post = $(".post").eq(i).find(".pf_link .name").text();
			if (loginUser == post){
				$(".post").eq(i).children().find(".pf_link").siblings("form").show();
			}else{
				$(".post").eq(i).children().find(".pf_link").siblings("form").hide();
			}
		}
		
		function getHtml(){
			var html = $("#com_contents").val().replace(/(?:\r\n|\r|\n)/g, '<br>');
			$("#com_contents").val(html);
		}
		
	
		
	})
	</script>
</body>
</html>