<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
</head>

<body>
	<div class="wrap">
 		<header th:replace="fragments/header.html :: fg-header"></header>

		<!-- 해당 페이지 클래스명을 적어주세요-->
		<div class="project_detail">
			<div class="container" th:fragment="projectDetail">
				<div class="project_title">
					<span class="pj_tag" th:text="${vo.prCategory}"></span>
					<h2 th:text="${vo.prTitle}"></h2>
					<div class="writer">
						<div class="profile_img" style="background:url(../images/atom02.png) 50% 50% no-repeat;background-size:cover;"></div>
						<a href="#" th:text="${vo.prWriter}"></a>
					</div>
				</div>
				<div class="row">
					<div class="col-12 col-md-8">
						<img src="../images/temp/pj_img.jpg">
					</div>
					<div class="col-12 col-md-4">
						<div class="pj_state">
							<dl>
								<dt>모인금액</dt>
								<dd>
									<strong>1,757,000</strong>원 &nbsp;&nbsp;/&nbsp;&nbsp; 달성률 <b>58%</b>
								</dd>
								<dt>남은시간</dt>
								<dd>
									<strong>10</strong>일
								</dd>
								<dt>후원자</dt>
								<dd>
									<strong>69</strong>명
								</dd>
							</dl>
						</div>
						<div class="help_box">
							<h4>펀딩 진행중</h4>
							<p>목표 금액인 3,000,000원이 모여야만 결제됩니다.<br>결제는 2021년 8월 14일에 다함께 진행됩니다.</p>
						</div>
						<div class="sponsor">
							<button type="button" class="btn btn-outline-secondary btn_like">
								<i class="far fa-heart"></i>
								<!-- <i class="fas fa-heart"></i> -->
							</button>
							<button type="button" class="btn btn-primary btn_sponsor">이 프로젝트 후원하기</button>
						</div>
					</div>
				</div>
				<div class="row">
					<ul class="tab_menu">
						<li class="tab_01 active"><a href="javascript:;">스토리</a></li>
						<li class="tab_02"><a href="javascript:;">커뮤니티<span class="count">2</span></a></li>
						<li class="tab_03"><a href="javascript:;">펀딩안내</a></li>
					</ul>
				</div>
			</div>
			
			<!-- QnA Modal -->	
			<div class="modal fade" id="qna_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">창작자에게 문의</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<dl>
								<dt>받는사람</dt>
								<dd>
									<input type="text" class="form-control" id="receiver" value="" readonly placeholder="작성자닉네임">
								</dd>
								<dt>문의내용</dt>
								<dd>
									<select class="form-select" id="qna_category">
										<option value="">문의유형</option>
										<option value="선물/후원">선물/후원</option>
										<option value="프로젝트">프로젝트</option>
										<option value="수령자 정보">수령자 정보</option>
										<option value="배송">배송</option>
										<option value="기타">기타</option>
									</select>
								</dd>
							</dl>
							<textarea class="form-control" id="qna_contents" rows="5" col="20" placeholder="프로젝트 진행자에게 문의하고 싶은 내용을 적어주세요."></textarea>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary" id="addQnaBtn">등록 하기</button>
						</div>
					</div>
				</div>
			</div>
		
			<!-- Community Modal -->	
			<div class="modal fade" id="community_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title">커뮤니티</h5>
							<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<dl>
								<dt>제목</dt>
								<dd>
									<input type="text" class="form-control" id="com_title" placeholder="제목을 입력해주세요.">
								</dd>
								<dt>작성 내용</dt>
								<dd>
									<textarea class="form-control" id="com_contents" rows="15" col="20" placeholder="커뮤니티에 작성하실 글을 입력해 주세요."></textarea>
								</dd>
							</dl>
							
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">닫기</button>
							<button type="button" class="btn btn-primary" id="addCommunityBtn">등록 하기</button>
						</div>
					</div>
				</div>
			</div>
			
			<input type="hidden" id="pno" name="pno" th:value="${vo.pno}">
		</div>
	</div>
		
</body>
</html>