<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/commonHead"></th:block>
    <link href="/static/css/list.css" rel="stylesheet">
    <script>
        $(function () {
            $(".heart").on({
                'click': function () {
                    var src = ($(this).attr('src') === '../images/main/heart1.png')
                        ? '../images/main/heart2.png'
                        : '../images/main/heart1.png';
                    $(this).attr('src', src);
                }
            });
        })
    </script>
</head>
<body>
    <div class="wrap">
        <header th:replace="fragments/header.html :: fg-header"></header>
        
        <div class="main">
            <div class="container">
               <!-- 상세검색 -->
                <div class="details">
                    <span class="searchWord">향수<button id="del">X</button></span>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option selected>카테고리</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option selected>진행상태</option>
                        <option value="1">전체 프로젝트</option>
                        <option value="2">진행중인 프로젝트</option>
                        <option value="3">마감된 프로젝트</option>
                    </select>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option selected>달성율</option>
                        <option value="1">75% 이하</option>
                        <option value="2">75% ~ 100%</option>
                        <option value="3">100% 이상</option>
                    </select>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option selected>모인금액</option>
                        <option value="1">1백만원 이하</option>
                        <option value="2">1백만원 ~ 1천만원</option>
                        <option value="3">1천만원 ~ 5천만원</option>
                        <option value="4">5천만원 ~ 1억원</option>
                        <option value="5">1억원 이상</option>
                    </select>
                    <button type="button" class="btn btn-light" id="searchBtn">검색</button>
                </div>
                <hr>
                <!-- 정렬 -->
                <div class="number">
                    <span class="num">3</span><span>개의 프로젝트가 있습니다.</span>
                    <span class="order">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="1" selected>인기순</option>
                            <option value="2">최신순</option>
                            <option value="3">마감순</option>
                        </select>
                    </span>
                </div>
                <!-- 프로젝트 출력 -->
                <div class="row" th:with="result=${result.result}">
                    <div class="col-12 col-md-6 col-xl-4" th:each="pro:${result.content}">
	                    <a th:href="@{/project/story/} + ${pro.pno}">
	                        <div class="card">
	                            <div class="imgDiv">
	                                <img th:src="@{/static/images/main/card1.jpeg}" class="card-img-top" alt="..." width="200">
	                                <img src="../images/main/heart1.png" width="25" class="heart">
	                            </div>
	                            <div class="card-body">
	                                <div class="pro_title">
	                                    <a href="#">[[${pro.prTitle}]]</a>
	                                </div>
	                                <div class="pro_cate">
	                                    <span><a href="#">[[${pro.prCategory}]]</a></span>
	                                    <span class="division"> | </span>
	                                    <span><a href="#">[[${pro.prWriter}]]</a></span>
	                                </div>
	                                <div class="pro_explain">
	                                    <h6>[[${pro.prIntro}]]</h6>
	                                </div>
	                                <div class="progress-small">
	                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 50%"
	                                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
	                                </div>
	                                <div class="money">
	                                    <span class="price">[[${pro.prCurrentMoney}]]원</span>
	                                    <span class="percent">%</span>
	                                    <span class="period"><i class="far fa-clock"></i> 40일 남음</span>
	                                </div>
	                            </div>
	                        </div>
                        </a>
                    </div>
                </div>
            <!-- 페이징 -->
            <div>
               <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-sm justify-content-center">

                     <li class="page-item" th:if="${result.prevPage}">
                        <a class="page-link" href="#" aria-label="Previous"
                           th:href="${result.prevPage.pageNumber}+1">
                           <span aria-hidden="true">&laquo;</span>
                        </a>
                     </li>

                     <li class="page-item" th:each="p:${result.pageList}"
                        th:classappend="${p.pageNumber ==result.currentPageNum-1}? active: '' ">
                        <a class="page-link" th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a>
                     </li>

                     <li class="page-item" th:if="${result.nextPage}">
                        <a class="page-link" href="#" aria-label="Next"
                           th:href="${result.nextPage.pageNumber}+1">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                     </li>
                  </ul>
               </nav>
               
               <form id="f1" th:action="@{list}" method="get">
                  <input type="hidden" name="page" th:value="${result.currentPageNum}">
                  <input type="hidden" name="size" th:value="${result.currentPage.pageSize}">
                  <input type="hidden" name="type" th:value="${pageVO.type}">
                  <input type="hidden" name="keyword" th:value="${pageVO.keyword}">
               </form>
            </div><br><br>
            
         </div>
        </div>
        <!-- main end -->
        <div class="lookaround">
            <div id="searchHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button id="search_close">검색창 닫기</button>
                        </div>
                        <div class="col-8">
                            <h2 class="search_title">프로젝트 둘러보기</h2>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="search_wrap">
                <div class="container">
                    <div class="search2 row">
                        <div class="col-10">
                            <input type="text" class="form-control w-100" placeholder="프로젝트를 검색하세요." id="param">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light w-100" id="search">검색</button>
                        </div>
                    </div>
                    <div class="project">
                        <div class="shortcut">
                            <h4><a href="#">모든 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#">인기 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#">신규 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#">성공 임박 프로젝트</a></h4>
                        </div>
                    </div>
                    <hr>
                    <div class="tag">
                        <h6>태그</h6>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn btn-primary">게임</button>
                        <button type="button" class="btn btn-secondary">향수</button>
                        <button type="button" class="btn btn-success">디자인</button>
                        <button type="button" class="btn btn-danger">지식</button>
                        <button type="button" class="btn btn-warning">트렌드</button>
                        <button type="button" class="btn btn-info">출판</button>
                        <button type="button" class="btn btn-light">미디어</button>
                        <button type="button" class="btn btn-dark">애완</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- lookaround end -->
    </div>
    
    <script th:inline="javascript">
      $(function() {

         $(".pagination a").click(function(e) {
            e.preventDefault();
            $("#f1").find("[name='page']").val($(this).attr("href"));
            $("#f1").submit();
         });
         
         
      })
   </script>
</body>
</html>