<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/commonHead"></th:block>
    <link href="/static/css/list.css" rel="stylesheet">
	<script type="text/javascript" th:src="@{/static/js/list.js}"></script>
</head>
<body>
    <div class="wrap">
        <header th:replace="fragments/header.html :: fg-header"></header>
        
        <div class="main">
            <div class="container">
               <!-- 상세검색 -->
                <div class="details">
                	<div id="ds">프로젝트 상세검색</div>
                	<select id="searchType" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:14%;">
                        <option value="">선택하세요</option>
                        <option value='title'>제목으로 검색</option>
                        <option value='category'>카테고리</option>
                        <option value='status'>진행상태</option>
                        <option value='money'>모인금액</option>
                    </select>
                    
                    <div class="searchCondition">
                    
                    	<span id="selectCategory">
                    		<select class="searchGo form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
		                        <option value=''>선택하세요</option>
		                        <option value='게임' th:selected="${pageVO.type} == '게임'">게임</option>
		                        <option value='향수' th:selected="${pageVO.type} == '향수'">향수</option>
		                        <option value='디자인' th:selected="${pageVO.type} == '디자인'">디자인</option>
		                        <option value='지식' th:selected="${pageVO.type} == '지식'">지식</option>
		                        <option value='트렌드' th:selected="${pageVO.type} == '트렌드'">트렌드</option>
		                        <option value='출판' th:selected="${pageVO.type} == '출판'">출판</option>
		                        <option value='미디어' th:selected="${pageVO.type} == '미디어'">미디어</option>
		                        <option value='애완' th:selected="${pageVO.type} == '애완'">애완</option>
		                    </select>
                    	</span>
                    	
                    	<span id="selectStatus">
                    		<select class="searchGo form-select form-select-sm" aria-label=".form-select-sm example" style="width:13%;">
		                        <option value=''>선택하세요</option>
		                        <option value='I' th:selected="${pageVO.type} == 'I'">진행중인 프로젝트</option>
		                        <option value='N' th:selected="${pageVO.type} == 'N'">공개예정 프로젝트</option>
		                        <option value='F' th:selected="${pageVO.type} == 'F'">성사된 프로젝트</option>
		                    </select>
                    	</span>
                    	
                    	<span id="selectTitle">
                    		<select id="title2" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
		                        <option value='제목' th:selected="${pageVO.type} == '제목'">제목</option>
		                    </select>
                    	</span>
                    	<span id="inputTitle">
                    		<input type="text" class="searchWord" placeholder="검색어를 입력하세요." id="searchKeyword" th:value="${pageVO.keyword}" style="width:25%;">
                    		<button type="button" id="del">X</button>
                    	</span>
                    	
                    	<span id="selectCurrentMoney">
                    		<select id="current2" class="searchGo2 form-select form-select-sm" aria-label=".form-select-sm example" style="width:13%;">
		                        <option value=''>선택하세요</option>
		                        <option value='0' value2='1000000' th:selected="${pageVO.type} == '1000000'">1백만원 이하</option>
		                        <option value='1000001' value2='10000000' th:selected="${pageVO.type} == '10000000'">1백만원 ~ 1천만원</option>
		                        <option value='10000001' value2='50000000' th:selected="${pageVO.type} == '50000000'">1천만원 ~ 5천만원</option>
		                        <option value='50000001' value2='100000000' th:selected="${pageVO.type} == '100000000'">5천만원 ~ 1억원</option>
		                        <option value='100000001' value2='990000000' th:selected="${pageVO.type} == '990000000'">1억원 이상</option>
		                    </select>
                    	</span>
                    </div>
                    <button type="button" class="btn btn-primary" id="searchBtn">검색</button>
                    <button type="button" class="btn btn-primary" id="searchBtn2">검색</button>
                </div>
                
                <form id="f6" th:action="@{list}" method="get">
                  <input type="hidden" name="page" th:value="${result.currentPageNum}">
                  <input type="hidden" name="size" th:value="${result.currentPage.pageSize}">
                  <input type="hidden" name="type" th:value="${pageVO.type}">
                  <input type="hidden" name="keyword" th:value="${pageVO.keyword}">
               </form>
               
               <form id="f4" th:action="@{list2}" method="get">
                  <input type="hidden" name="page" th:value="${result.currentPageNum}">
                  <input type="hidden" name="size" th:value="${result.currentPage.pageSize}">
                  <input type="hidden" name="type" th:value="${pageVO.type}">
                  <input type="hidden" name="keyword" th:value="${pageVO.keyword}">
                  <input type="hidden" name="keyword2" th:value="${pageVO.keyword2}">
               </form>
               
                <hr>
                <!-- 정렬 -->
                <!-- <div class="number">
                    <span class="num">3</span><span>개의 프로젝트가 있습니다.</span>
                    <span class="order">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="1" selected>인기순</option>
                            <option value="2">최신순</option>
                            <option value="3">마감순</option>
                        </select>
                    </span>
                </div> -->
                <!-- 프로젝트 출력 -->
				<div class="row" th:with="result=${result.result}">
					<div class="col-12 col-md-6 col-xl-4" th:each="pro:${result.content}">
						<div class="card">
							<div class="imgDiv">
								<a th:href="@{/project/story/} + ${pro.pno}">
									<img th:src="@{'/static/images/projectuploading/'+${pro.prSysName}}" class="card-img-top" width="180">
								</a>
							</div>
							<div class="card-body">
								<div class="hei">
									<div class="pro_title">
										<a th:href="@{/project/story/} + ${pro.pno}">[[${pro.prTitle}]]</a>
									</div>
									<div class="pro_cate">
										<span id="prCategory">[[${pro.prCategory}]]</span>
										<span class="division"> | </span>
										<span>[[${pro.prWriter}]]</span>
									</div>
									<div class="pro_explain">
										<span>[[${pro.prIntro}]]</span>
									</div>
								</div>
								<div th:switch="${pro.prStatus}">
									<div th:case="N">
										<hr>
										<span class="etc"><i class="fas fa-exclamation-circle" style="color: #E15488"></i>
											공개 예정 프로젝트입니다.</span>
									</div>
									<div th:case="I">
										<div class="progress-small">
											<div id="proBar" class="progress-bar bg-danger" role="progressbar"
												aria-valuemin="0" aria-valuemax="100"></div>
										</div>
										<div class="money">
											<span class="price">[[${#numbers.formatDecimal(pro.prCurrentMoney, 0, 'COMMA', 0, 'POINT')}]]원</span>
											<span class="period"><i class="far fa-clock"></i>[[${#dates.format(pro.prEnddate, ' yy/MM/dd ')}]] 종료</span>
										</div>
									</div>
									<div th:case="F">
										<hr>
										<span class="etc"><i class="far fa-thumbs-up" style="color: #E15488"></i> 펀딩이 완료된 프로젝트입니다.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 페이징 -->
            <div>
               <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-sm justify-content-center">

                     <li class="page-item" th:if="${result.prevPage}">
                        <a class="page-link" href="#" aria-label="Previous"
                           th:href="${result.prevPage.pageNumber}+1">
                           <span aria-hidden="true">&laquo;</span>
                        </a>
                     </li>

                     <li class="page-item" th:each="p:${result.pageList}"
                        th:classappend="${p.pageNumber ==result.currentPageNum-1}? active: '' ">
                        <a class="page-link" th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a>
                     </li>

                     <li class="page-item" th:if="${result.nextPage}">
                        <a class="page-link" href="#" aria-label="Next"
                           th:href="${result.nextPage.pageNumber}+1">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                     </li>
                  </ul>
               </nav> 
            </div><br><br>
         </div>
        </div>
        <!-- main end -->
        <div th:replace="fragments/lookaround.html :: fg-lookaround"></div>
        <!-- lookaround end -->
    </div>
     <footer th:replace="fragments/footer.html :: fg-footer"></footer>
</body>
</html>