<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <th:block th:replace="fragments/commonHead"></th:block>
    <link href="/static/css/list.css" rel="stylesheet">
    <script type="text/javascript" th:src="@{/static/js/list.js}"></script>
  
</head>
<body>
    <div class="wrap">
        <header th:replace="fragments/header.html :: fg-header"></header>
        
        <div class="main">
            <div class="container">
               <!-- 상세검색 -->
                <div class="details">
                	<select id="searchType" class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option value="">선택하세요</option>
                        <option value='category'>카테고리</option>
                        <option value='status'>상태</option>
                        <option value='achievement'>달성률</option>
                        <option value='money'>모인금액</option>
                    </select>
                    
                    <div class="searchCondition">
                    
                    	<span id="selectCategory">
                    		<select class="searchGo form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
		                        <option value='게임' th:selected="${pageVO.type} == '게임'">게임</option>
		                        <option value='향수' th:selected="${pageVO.type} == '향수'">향수</option>
		                        <option value='디자인' th:selected="${pageVO.type} == '디자인'">디자인</option>
		                        <option value='지식' th:selected="${pageVO.type} == '지식'">지식</option>
		                        <option value='트렌드' th:selected="${pageVO.type} == '트렌드'">트렌드</option>
		                        <option value='출판' th:selected="${pageVO.type} == '출판'">출판</option>
		                        <option value='미디어' th:selected="${pageVO.type} == '미디어'">미디어</option>
		                        <option value='애완' th:selected="${pageVO.type} == '애완'">애완</option>
		                    </select>
                    	</span>
                    	
                    	<span id="selectStatus">
                    		<select class="searchGo form-select form-select-sm" aria-label=".form-select-sm example" style="width:12%;">
		                        <option value='I' th:selected="${pageVO.type} == 'I'">진행중인 프로젝트</option>
		                        <option value='N' th:selected="${pageVO.type} == 'N'">공개예정 프로젝트</option>
		                        <option value='F' th:selected="${pageVO.type} == 'F'">성사된 프로젝트</option>
		                    </select>
                    	</span>
                    	
                    </div>
                    
                    <!-- <input type="text" class="searchWord" placeholder="검색어를 입력하세요." id="searchKeyword" th:value="${pageVO.keyword}"> <button id="del">X</button> -->
                    
                   <!--  <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option>진행상태</option>
                        <option value="1">전체 프로젝트</option>
                        <option value="2">진행중인 프로젝트</option>
                        <option value="3">마감된 프로젝트</option>
                    </select>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option>달성율</option>
                        <option value="1">75% 이하</option>
                        <option value="2">75% ~ 100%</option>
                        <option value="3">100% 이상</option>
                    </select>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" style="width:10%;">
                        <option>모인금액</option>
                        <option value="1">1백만원 이하</option>
                        <option value="2">1백만원 ~ 1천만원</option>
                        <option value="3">1천만원 ~ 5천만원</option>
                        <option value="4">5천만원 ~ 1억원</option>
                        <option value="5">1억원 이상</option>
                    </select> -->
                    <button type="button" class="btn btn-light" id="searchBtn">검색</button>
                </div>
                <hr>
                <!-- 정렬 -->
                <!-- <div class="number">
                    <span class="num">3</span><span>개의 프로젝트가 있습니다.</span>
                    <span class="order">
                        <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                            <option value="1" selected>인기순</option>
                            <option value="2">최신순</option>
                            <option value="3">마감순</option>
                        </select>
                    </span>
                </div> -->
                <!-- 프로젝트 출력 -->
				<div class="row" th:with="result=${result.result}">
					<div class="col-12 col-md-6 col-xl-4" th:each="pro:${result.content}">
						<div class="card">
							<div class="imgDiv">
								<a th:href="@{/project/story/} + ${pro.pno}">
									<img th:src="@{'/static/images/projectuploading/'+${pro.prSysName}}" class="card-img-top" width="180">
								</a>
							</div>
							<div class="card-body">
								<div class="hei">
									<div class="pro_title">
										<a href="#">[[${pro.prTitle}]]</a>
									</div>
									<div class="pro_cate">
										<span><a href="#">[[${pro.prCategory}]]</a></span>
										<span class="division"> | </span>
										<span><a href="#">[[${pro.prWriter}]]</a></span>
									</div>
									<div class="pro_explain">
										<span>[[${pro.prIntro}]]</span>
									</div>
								</div>
								<div th:switch="${pro.prStatus}">
									<div th:case="I">
										<div th:switch="${pro.prCheck}">
											<div th:case="Y">
												<div class="progress-small">
													<div class="progress-bar bg-danger" role="progressbar"
														style="width: 50%" aria-valuenow="100" aria-valuemin="0"
														aria-valuemax="100"></div>
												</div>
												<div class="money">
													<span class="price">[[${pro.prCurrentMoney}]]원</span>
													<span class="percent">[[${pro.prCurrentMoney/pro.prTargetMoney*100}]]%</span>
													<span class="period"><i class="far fa-clock"></i>40일 남음</span>
												</div>
											</div>
											<div th:case="N">
												<hr>
												<span class="etc"><i class="fas fa-exclamation-circle" style="color: #E15488"></i>
													공개예정 프로젝트 입니다.</span>
											</div>
										</div>
									</div>
									<div th:case="F">
										<hr>
										<span class="etc"><i class="far fa-thumbs-up" style="color: #E15488"></i> 466명의 펀딩으로 후원 성공.</span>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- 페이징 -->
            <div>
               <nav aria-label="Page navigation example">
                  <ul class="pagination pagination-sm justify-content-center">

                     <li class="page-item" th:if="${result.prevPage}">
                        <a class="page-link" href="#" aria-label="Previous"
                           th:href="${result.prevPage.pageNumber}+1">
                           <span aria-hidden="true">&laquo;</span>
                        </a>
                     </li>

                     <li class="page-item" th:each="p:${result.pageList}"
                        th:classappend="${p.pageNumber ==result.currentPageNum-1}? active: '' ">
                        <a class="page-link" th:href="${p.pageNumber}+1">[[${p.pageNumber}+1]]</a>
                     </li>

                     <li class="page-item" th:if="${result.nextPage}">
                        <a class="page-link" href="#" aria-label="Next"
                           th:href="${result.nextPage.pageNumber}+1">
                           <span aria-hidden="true">&raquo;</span>
                        </a>
                     </li>
                  </ul>
               </nav>
               <form id="f3" th:action="@{list}" method="get">
                  <input type="hidden" name="page" th:value="${result.currentPageNum}">
                  <input type="hidden" name="size" th:value="${result.currentPage.pageSize}">
                  <input type="hidden" name="type" th:value="${pageVO.type}">
                  <input type="hidden" name="keyword" th:value="${pageVO.keyword}">
               </form>
            </div><br><br>
         </div>
        </div>
        <!-- main end -->
        <div class="lookaround">
            <div id="searchHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button id="search_close">검색창 닫기</button>
                        </div>
                        <div class="col-8">
                            <h2 class="search_title">프로젝트 둘러보기</h2>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="search_wrap">
                <div class="container">
                    <div class="project">
                        <div class="shortcut">
                            <h4><a href="/project/list">모든 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#">인기 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="newPro">신규 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="closePro">성공 임박 프로젝트</a></h4>
                        </div>
                        
                        <form id="f1" th:action="@{newest}" method="get"></form>
                        <form id="f2" th:action="@{close}" method="get"></form>
                        
                    </div>
                    <hr>
                    <div class="tag">
                        <h6>태그</h6>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn btn-primary">게임</button>
                        <button type="button" class="btn btn-secondary">향수</button>
                        <button type="button" class="btn btn-success">디자인</button>
                        <button type="button" class="btn btn-danger">지식</button>
                        <button type="button" class="btn btn-warning">트렌드</button>
                        <button type="button" class="btn btn-info">출판</button>
                        <button type="button" class="btn btn-light">미디어</button>
                        <button type="button" class="btn btn-dark">애완</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- lookaround end -->
    </div>
    <script th:inline="javascript">
      $(function() {
    	 
         $(".pagination a").click(function(e) {
            e.preventDefault();
            $("#f3").find("[name='page']").val($(this).attr("href"));
            $("#f3").submit();
         });
         
         $("#searchType").on("change",function(){
        	 let state = $("#searchType option:selected").val();
        	 if(state == "category"){
        		 $("#selectStatus").hide();
        		 $("#selectCategory").show();
        	 }else if(state == "status"){
        		 $("#selectCategory").hide();
        		 $("#selectStatus").show();
        		 
        	 }
         })
         
         
         let typeStr;
         let keywordStr;
         
         $(".searchGo").on("change", function(){
        	typeStr = $(this).find(":selected").val();
  			keywordStr = $(this).val();
  			alert(typeStr);
			alert(keywordStr);
         });
         
         $("#searchBtn").on("click", function(){
        	 if($("#searchType option:selected").val() == ""){
        		 alert("검색 조건을 선택하세요.");
        		 return false;
        	 }
        	 
        	 /* if($("#searchType option:selected").val() == "c"){
        		 $("#searchCondition").text("category");
        		 return false;
        	 }else if($("#searchType option:selected").val() == "status"){
        		 
        	 }else if($("#searchType option:selected").val() == "achievement"){
        		 
        	 }else if($("#searchType option:selected").val() == "money"){
        		 
        	 } */
        	 
        	
			alert(typeStr);
			alert(keywordStr);
			$("#f3").find("[name='type']").val(typeStr);
			$("#f3").find("[name='keyword']").val(keywordStr);
			$("#f3").find("[name='page']").val("1");
			$("#f3").submit();
		});
         
         
      })
   </script>
</body>
</html>