<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <th:block th:replace="fragments/commonHead"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
    <script type="text/javascript" th:src="@{/static/js/main.js}"></script>
</head>
<body>
    <div class="wrap">
        <header th:replace="fragments/header.html :: fg-header"></header>
        
        <div class="main">
            <div class="container">
               <!-- 캐러셀 -->
                <div class="mainCarousel">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/images/main/carou1.jpg" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>쇼핑의 즐거움을 선물하다</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/images/main/carou2.jpg" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>부자 되기 프로젝트</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/images/main/carou3.jpg" class="d-block w-100">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>MZ세대들의 최신 트렌드 다 모았다!</span>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!-- 정렬 버튼 -->
                <div class="listTitle">
                    <h3>주목할 만한 프로젝트</h3>
                </div>
                <!-- 프로젝트 출력 -->
                <div class="row" id="main_list">
                   <div class="col-12 col-md-6 col-xl-3" th:each="pro:${result}">
                       <div class="card" >
                           <div class="imgDiv">
                               <a th:href="@{/project/story/} + ${pro.pno}"><img th:src="@{'/static/images/projectuploading/'+${pro.prSysName}}" class="card-img-top" alt="..."></a>
                           </div>
                           <div class="card-body">
                               <div class="writer">
                                   <span>[[${pro.prCategory}]]</span>
                                   <span class="division">|</span>
                                   <span>[[${pro.prWriter}]]</span>
                               </div>
                               <div class="pro_title">
                                   <a th:href="@{/project/story/} + ${pro.pno}">[[${pro.prTitle}]]</a>
                               </div>
                               <div class="achi">
                               
                                   <span>[[${#numbers.formatDecimal(pro.prCurrentMoney, 0, 'COMMA', 0, 'POINT')}]]원</span>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
    			
    			<div class="seeMore">
    				<button type="button" id="seeMoreBtn">프로젝트 더 보러가기</button>
    			</div><br>
                
                <!-- 마이페이지 -->
            <!--     <div class=mypagego><a href="#" th:href="@{/member/auth/mypage}">마이페이지이동</a></div> -->
                <!-- 관리자페이지 -->
               <!--  <div class=managerPageGo><a href="#" th:href="@{/man/manPage}">모니터링페이지</a></div> -->
     
            </div>
            <!-- container end -->
        </div>
        <!-- main end -->
        
       <div class="lookaround">
            <div id="searchHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button id="search_close">검색창 닫기</button>
                        </div>
                        <div class="col-8">
                            <h2 class="search_title">프로젝트 둘러보기</h2>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="search_wrap">
                <div class="container">
                	<div class="project">
                        <div class="shortcut">
                            <h4><a href="/project/list">모든 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="popularPro">인기 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="newPro">신규 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="closePro">성공 임박 프로젝트</a></h4>
                        </div>
                        
                        <form id="f1" th:action="@{popular}" method="get"></form>
                        <form id="f2" th:action="@{newest}" method="get"></form>
                        <form id="f3" th:action="@{close}" method="get"></form>
                        
                    </div>
                    <hr>
                    <div class="tag">
                        <h6>태그</h6>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn btn-primary" id="game">게임</button>
                        <button type="button" class="btn btn-secondary" id="perfume">향수</button>
                        <button type="button" class="btn btn-success" id="design">디자인</button>
                        <button type="button" class="btn btn-danger" id="knowledge">지식</button>
                        <button type="button" class="btn btn-warning" id="trend">트렌드</button>
                        <button type="button" class="btn btn-info" id="publishing">출판</button>
                        <button type="button" class="btn btn-light" id="media">미디어</button>
                        <button type="button" class="btn btn-dark" id="animal">애완</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- lookaround end -->
    </div>
</body>
</html>