<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
      <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <th:block th:replace="fragments/commonHead"></th:block>

    <title>Promising</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/static/css/common_style.css}">


    <link rel="stylesheet" type="text/css" th:href="@{/static/css/main.css}">
    <script type="text/javascript" th:src="@{/static/js/main.js}"></script>
    <script>
        $(function () {
        	
        	/* if($(window).scrollTop() == $(document).height() - $(window).height()) {
        		var token = $("meta[name='_csrf']").attr("content");
       			var header = $("meta[name='_csrf_header']").attr("content");
       			
       			$.ajax({
       				type: 'POST',
       				url:'/project/scrollDown',
       				dataType: 'json',
       				contentType: "application/json",
       				beforeSend : function(xhr){
       					xhr.setRequestHeader(header, token);
       	            },
       				async: true,
       				cache :false
       			}).done(function(resp){
       				console.log("성공");
       				console.log(resp);
       				
       				for(let i=0;i<resp.length;i++){
       					
       					let row = $("<div class=row>");
       	    			let col = $("<div class='col-12 col-md-6 col-xl-3'>");
       	    			let card = $("<div class=card>");
       	    			
       	    			let imgDiv = $("<div class=imgDiv>");
       	    			let proImg = $("<img th:src='@{/static/images/main/card1.jpeg}' class=card-img-top>");
       	    			let heartImg = $("<img th:src='@{/images/main/heart1.png}' class=heart width=20>");
       	    			imgDiv.append(proImg);
       	    			imgDiv.append(heartImg);
       	    			
       	    			let cardBody = $("<div class=card-body>");
       	    			
       	    			let writer = $("<div class=writer>");
       	    			let cate = $("<span><a href='#'>"+resp[i].prCategory+"</a></span>");
       	    			let divi = $("<span class=division> | </span>");
       	    			let wri = $("<span><a href='#'>"+resp[i].prWriter+"</a></span>");
       	    			writer.append(cate);
       	    			writer.append(divi);
       	    			writer.append(wri);
       	    			
       	    			let title = $("<div class=pro_title>");
       	    			let ti = $("<a href='#'>"+resp[i].prTitle+"</a>");
       	    			title.append(ti);
       	    			
       	    			let achi = $("<div class=achi>");
       	    			let ac = $("<span>"+(resp[i].prTargetMoney/resp[i].prCurrentMoney)*100+"% 달성</span>");
       	    			
       	    			achi.append(ac);
       	    			
       	    			cardBody.append(writer);
       	    			cardBody.append(title);
       	    			cardBody.append(achi);
       	    			
       	    			card.append(imgDiv);
       	    			card.append(cardBody);
       	    			
       	    			col.append(card);
       	    			$("#scrollDown").append(col);
       				}
       			})
            }  */

            /* $("#popular").on("click",function(){
               location.href="/project/popular";
            })
            
            $("#newest").on("click",function(){
               location.href="/project/newest";
            })
            
            $("#close").on("click",function(){
               location.href="/project/close";
            }) */
        })

    </script>
</head>
<body>
    <div class="wrap">
        <header th:replace="fragments/header.html :: fg-header"></header>
        
        <div class="main">
            <div class="container">
               <!-- 캐러셀 -->
                <div class="mainCarousel">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="/static/images/main/carou1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>쇼핑의 즐거움을 선물하다</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/images/main/carou2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>부자 되기 프로젝트</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="/static/images/main/carou3.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>MZ세대들의 최신 트렌드 다 모았다!</span>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!-- 정렬 버튼 -->
                <div class="listTitle">
                    <h3>주목할 만한 프로젝트</h3>
                </div>
                <!-- 프로젝트 출력 -->
                <div class="row" id="main_list">
                   <div class="col-12 col-md-6 col-xl-3" th:each="pro:${result}">
                       <div class="card" >
                           <div class="imgDiv">
                               <a href="#"><img th:src="@{'/static/images/projectuploading/'+${pro.prSysName}}" class="card-img-top" alt="..."></a>
                               <!-- <img src="../images/main/heart1.png" width="20" class="heart"> -->
                           </div>
                           <div class="card-body">
                               <div class="writer">
                                   <span id="prCategory"><a href="#">[[${pro.prCategory}]]</a></span>
                                   <span class="division">|</span>
                                   <span><a href="#">[[${pro.prWriter}]]</a></span>
                               </div>
                               <div class="pro_title">
                                   <a href="#">[[${pro.prTitle}]]</a>
                               </div>
                               <div class="achi">
                                   <span>[[${pro.prCurrentMoney/pro.prTargetMoney*100}]]% 달성</span>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
    			
    			<div class="seeMore">
    				<button type="button" id="seeMoreBtn">프로젝트 더 보러가기</button>
    			</div><br>
                
                <!-- 마이페이지 -->
                <div class=mypagego><a href="#" th:href="@{/member/mypage}">마이페이지이동</a></div>
                <!-- 관리자페이지 -->
                <div class=managerPageGo><a href="#" th:href="@{/man/manPage}">모니터링페이지</a></div>
     
            </div>
            <!-- container end -->
        </div>
        <!-- main end -->
        
       <div class="lookaround">
            <div id="searchHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button id="search_close">검색창 닫기</button>
                        </div>
                        <div class="col-8">
                            <h2 class="search_title">프로젝트 둘러보기</h2>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="search_wrap">
                <div class="container">
                	<div class="project">
                        <div class="shortcut">
                            <h4><a href="/project/list">모든 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="popularPro">인기 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="newPro">신규 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#" id="closePro">성공 임박 프로젝트</a></h4>
                        </div>
                        
                        <form id="f1" th:action="@{popular}" method="get"></form>
                        <form id="f2" th:action="@{newest}" method="get"></form>
                        <form id="f3" th:action="@{close}" method="get"></form>
                        
                    </div>
                    <hr>
                    <div class="tag">
                        <h6>태그</h6>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn btn-primary">게임</button>
                        <button type="button" class="btn btn-secondary">향수</button>
                        <button type="button" class="btn btn-success">디자인</button>
                        <button type="button" class="btn btn-danger">지식</button>
                        <button type="button" class="btn btn-warning">트렌드</button>
                        <button type="button" class="btn btn-info">출판</button>
                        <button type="button" class="btn btn-light">미디어</button>
                        <button type="button" class="btn btn-dark">애완</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- lookaround end -->
    </div>
</body>
</html>