<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" th:content="${_csrf.token}">
   	<meta name="_csrf_header" th:content="${_csrf.headerName}">
    <th:block th:replace="fragments/commonHead"></th:block>
    <title>Promising</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/common_style.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/js/main.js}"></script>
    <script>
        $(function () {
            $(".heart").on({
                'click': function () {
                    var src = ($(this).attr('src') === '../images/main/heart1.png')
                        ? '../images/main/heart2.png'
                        : '../images/main/heart1.png';
                    $(this).attr('src', src);
                }
            });
            
            $("#popular").on("click",function(){
            	location.href="/project/popular";
            })
            
            $("#newest").on("click",function(){
            	location.href="/project/newest";
            })
            
            $("#close").on("click",function(){
            	location.href="/project/close";
            })
            
        })
    </script>
</head>
<body>
    <div class="wrap">
        <header th:replace="fragments/header.html :: fg-header"></header>
        
        <div class="main">
            <div class="container">
            	<!-- 캐러셀 -->
                <div class="mainCarousel">
                    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                                class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                                aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                                aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="../images/main/carou1.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>쇼핑의 즐거움을 선물하다</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/main/carou2.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>부자 되기 프로젝트</span>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="../images/main/carou3.jpg" class="d-block w-100" alt="...">
                                <div class="carousel-caption d-none d-md-block">
                                    <span>MZ세대들의 최신 트렌드 다 모았다!</span>
                                </div>
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
                <!-- 정렬 버튼 -->
                <div class="listTitle">
                    <h3>주목할 만한 프로젝트</h3><br>
                    <button type="button" class="btn btn-light btn-sm" id="popular">인기순</button>
                    <button type="button" class="btn btn-light btn-sm" id="newest">최신순</button>
                    <button type="button" class="btn btn-light btn-sm" id="close">마감순</button>
                </div>
                <!-- 프로젝트 출력 -->
                <div class="row" id="main_list">
                   <div class="col-12 col-md-6 col-xl-3" th:each="pro:${result}">
                       <div class="card" >
                           <div class="imgDiv">
                               <img src="../images/main/card1.jpeg" class="card-img-top" alt="...">
                               <img src="../images/main/heart1.png" width="20" class="heart">
                           </div>
                           <div class="card-body">
                               <div class="writer">
                                   <span id="prCategory"><a href="#">[[${pro.prCategory}]]</a></span>
                                   <span class="division">|</span>
                                   <span><a href="#">[[${pro.prWriter}]]</a></span>
                               </div>
                               <div class="pro_title">
                                   <a href="#">[[${pro.prTitle}]]</a>
                               </div>
                               <div class="achi">
                                   <span>[[${pro.prTargetMoney}]]% 달성</span>
                               </div>
                           </div>
                       </div>
                   </div>
                </div>
    
                <div class=row id="popular_list"></div>
                <div class=row id="newest_list"></div>
                <div class=row id="colse_list"></div>
                
             	<!-- 마이페이지 -->
             	<div class=mypagego><a href="#" th:href="@{/member/mypage}">마이페이지이동</a></div>
     
            </div>
            <!-- container end -->
        </div>
        <!-- main end -->
        
        <div class="lookaround">
            <div id="searchHeader">
                <div class="container">
                    <div class="row">
                        <div class="col-2">
                            <button id="search_close">검색창 닫기</button>
                        </div>
                        <div class="col-8">
                            <h2 class="search_title">프로젝트 둘러보기</h2>
                        </div>
                        <div class="col-2"></div>
                    </div>
                </div>
            </div>
            <div class="search_wrap">
                <div class="container">
                
                    <div class="search2 row">
                        <div class="col-10">
                        	
                            <input type="text" class="form-control w-100"
                            	placeholder="프로젝트를 검색하세요." id="param">
                        </div>
                        <div class="col-2">
                            <button type="button" class="btn btn-light w-100" id="searchBtn">검색</button>
                        </div>
                    </div>
                   
                    <div class="project">
                        <div class="shortcut">
                            <h4><a href="#">모든 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#">인기 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#">신규 프로젝트</a></h4>
                        </div>
                        <div class="shortcut">
                            <h4><a href="#">성공 임박 프로젝트</a></h4>
                        </div>
                    </div>
                    <hr>
                    <div class="tag">
                        <h6>태그</h6>
                    </div>
                    <div class="btn_wrap">
                        <button type="button" class="btn btn-primary">게임</button>
                        <button type="button" class="btn btn-secondary">향수</button>
                        <button type="button" class="btn btn-success">디자인</button>
                        <button type="button" class="btn btn-danger">지식</button>
                        <button type="button" class="btn btn-warning">트렌드</button>
                        <button type="button" class="btn btn-info">출판</button>
                        <button type="button" class="btn btn-light">미디어</button>
                        <button type="button" class="btn btn-dark">애완</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- lookaround end -->
    </div>
</body>
</html>