<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org"><head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
	<script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.1.5.js"></script>
</head>

<body>
	<div class="wrap">
		<header th:replace="fragments/header.html :: fg-header"></header>

		<!-- 해당 페이지 클래스명을 적어주세요-->
		<div class="project_payment">
			<div class="container">
				<div class="row project_info">
					<div class="col-12 col-md-3 pj_img">
						<img th:src="@{'/static/images/projectuploading/'+${vo.prSysName}}" alt="프로젝트 이미지">
					</div>
					<div class="col-12 col-md-9">
						<div class="info">
 							<span th:text="${vo.prCategory}">카테고리</span>
							<h2>[[${vo.prTitle}]]</h2>
							<div>
								<strong class="account">[[${vo.prCurrentMoney}]]</strong>
								<span class="achivement">68%</span>
								<span class="state">9일 남음</span>
							</div>
						</div>
					</div>
				</div>
				<div class="row pay">
					<div class="col-12 col-md-8">
						<h3 class="title">프로젝트 정보</h3>
						<div class="box">
							<dl>
								<dt>구성</dt>
								<dd id="present">[[${vo.prPresentTitle}]]</dd>
							</dl>
							<dl>
								<dt>수량</dt>
 								<dd id="amount">[[${amount}]]</dd>
							</dl>
							<dl>
								<dt>결제 금액</dt>
								<dd id="price">[[${price}]]</dd>
							</dl>
						</div>
						<h3 class="title">후원자 정보</h3>
						<div class="box">
							<dl>
								<dt>연락처</dt>
								<dd id="orderPhone">[[${mvo.uphone}]]</dd> 
							</dl>
							<dl>
								<dt>이메일</dt>
								<dd id="username">[[${mvo.username}]]</dd>
							</dl>
							<p class="s_txt">* 위 연락처와 이메일로 후원 관련 소식이 전달됩니다.<br>* 연락처 및 이메일 변경은 설정 > 계정 설정에서 가능합니다.</p>
						</div>
						<div th:if="${amount}!='-'">
							<h3 class="title">배송지</h3>
							<div class="box addr_info">
								<p class="name" id="orderName">[[${mvo.realname}]]</p>
								<p><span id="orderPostcode">[[${mvo.upostcode}]]</span> | <span id="address1">[[${mvo.address1}]]</span> | <span id="address2">[[${mvo.address2}]]</span></p>
								<p>[[${mvo.uphone}]]</p>
								<button class="btn btn-sm btn-outline-secondary btn_addr" style="display:none;">변경</button>
							</div>
						</div>
					</div>
					<div class="col-12 col-md-4">
						<div class="payment_info">
							<div class="final">
								<p><em>최종 후원 금액</em> [[${price}]] 원</p>
							</div>
							<p class="noti">프로젝트 성공시, 결제는 2021.08.21 에 진행됩니다. 프로젝트가 무산되거나 중단된 경우, 예약된 결제는 자동으로 취소됩니다.
							</p>
							<div class="check_wrap">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="check01">
									<label class="form-check-label" for="check01">
										개인정보 제 3자 제공 동의
									</label>
									<a href="#" class="open_pop" data-bs-toggle="modal" data-bs-target="#modal_privacy">내용보기</a>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="checkbox" value="" id="check02">
									<label class="form-check-label" for="check02">
										후원 유의사항 확인
									</label>
									<span class="tg_btn">내용보기</span>
									<ul class="guide_txt">
										<li>후원은 구매가 아닌 창의적인 계획에 자금을 지원하는 일입니다.
											텀블벅에서의 후원은 아직 실현되지 않은 프로젝트가 실현될 수 있도록 제작비를 후원하는 과정으로, 기존의 상품 또는 용역을 거래의 대상으로
											하는
											매매와는 차이가 있습니다. 따라서 전자상거래법상 청약철회 등의 규정이 적용되지 않습니다.
										</li>
										<li>프로젝트는 계획과 달리 진행될 수 있습니다.
											예상을 뛰어넘는 멋진 결과가 나올 수 있지만 진행 과정에서 계획이 지연, 변경되거나 무산될 수도 있습니다. 본 프로젝트를 완수할 책임과
											권리는
											창작자에게 있습니다.</li>
									</ul>
								</div>
							</div>
							<form method="post" id="payComplete">
								<button type="button" class="btn btn-primary w-100" id="btn_pay">후원하기</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" name="pno" th:value="${vo.pno}" id="pno"> 

		<!-- Modal -->
		<div class="modal fade" id="modal_privacy" tabindex="-1" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">개인정보 제 3자 제공 동의</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<p>회원의 개인정보는 당사의 개인정보 취급방침에 따라 안전하게 보호됩니다. '회사'는 이용자들의 개인정보를 개인정보 취급방침의 '제 2조 수집하는 개인정보의 항목,
							수집방법 및 이용목적'에서 고지한 범위 내에서 사용하며, 이용자의 사전 동의 없이는 동 범위를 초과하여 이용하거나 원칙적으로 이용자의 개인정보를 외부에 공개하지
							않습니다.</p>
						<dl>
							<dt>제공받는 자</dt>
							<dd>후원 프로젝트의 창작자</dd>
						</dl>
						<dl>
							<dt>제공 목적</dt>
							<dd>선물 전달 및 배송과 관련된 상담 및 민원처리</dd>
						</dl>
						<dl>
							<dt>제공 정보</dt>
							<dd>수취인 성명, 휴대전화번호, 배송 주소</dd>
						</dl>
						<dl>
							<dt>보유 및 이용기간</dt>
							<dd>재화 또는 서비스의 제공이 완료된 즉시 파기(단, 관계법령에 정해진 규정에 따라 법정기간 동안 보관)</dd>
						</dl>
						<span>* 동의 거부권 등에 대한 고지<br>개인정보 제공은 서비스 이용을 위해 꼭 필요합니다. 개인정보 제공을 거부하실 수 있으나, 이 경우 서비스 이용이 제한될 수
							있습니다.</span>
					</div>
				</div>
			</div>
		</div>

	</div>
</body>
<script>
let obj = { pno: $("#pno").text(), 
			present: $("#present").text(),
			amount: $("#amount").text(),
			price: $("#price").text(), 
			username: $("#username").text(),
			orderName: $("#orderName").text(),
			orderPhone: $("#orderPhone").text(), 
			orderPostcode: $("#orderPostcode").text(), 
			address1: $("#address1").text(),
			address2: $("#address2").text()
		};
		
let status = "N";

$("#btn_pay").on("click", function(){
	var IMP = window.IMP;
	IMP.init('imp76576623');
	IMP.request_pay({
		pg: 'inicis',
		pay_method: 'card',
		merchant_uid: 'merchant_' + new Date().getTime(),
		name: $("#present").text(),
		amount: $("#price").text(),
		buyer_email: $("#username").text(),
		buyer_name: $("#orderName").text(),
		buyer_tel: $("#orderPhone").text(),
		buyer_addr: $("#address1").text() + " / " + $("#address2").text(),
		buyer_postcode: $("#orderPostcode").text(),
	}, function (rsp) {
		if (rsp.success) {
			alert('결제가 완료되었습니다.');
			status = "Y"
 			location.href="/project/paycomplete";
		} else {
			var msg = '결제에 실패하였습니다.';
			msg += '에러내용 : ' + rsp.error_msg;
			alert(msg);
		}
	});
});
	
</script>
</html>