<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
	<script type="text/javascript" th:src="@{/static/js/projectHead.js}"></script>
</head>

<body>
	<div class="container" th:fragment="project_head">
 		<span sec:authorize="isAuthenticated()" style="display:none;"><span id="user" sec:authentication="principal.username"></span></span>
 		<input type="hidden" id="pno" name="project" th:value="${vo.pno}">
		<input type="hidden" id="status" th:value="${vo.prStatus}">
		<div class="project_title">
			<span class="pj_tag" th:text="${vo.prCategory}"></span>
			<h2 th:text="${vo.prTitle}"></h2>
			<div class="writer" th:switch="${vo.prStatus}">
				<span style="color:#999;font-weight:600;" th:case="N">오픈 예정인 프로젝트 입니다.</span>
			</div>
			<!-- <div class="writer">
				<div class="profile_img" style="background:url(../images/atom02.png) 50% 50% no-repeat;background-size:cover;"></div>
				<a href="#" th:text="${vo.prWriter}"></a>
			</div> -->
		</div>
		<div class="row">
			<div class="col-12 col-md-8">
				<img th:src="@{'/static/images/projectuploading/'+${vo.prSysName}}">
			</div>
			<div class="col-12 col-md-4">
				<div class="pj_state">
					<dl>
						<dt>모인금액</dt>
						<dd>
							<strong th:text="${vo.prCurrentMoney}"></strong>원 &nbsp;&nbsp;/&nbsp;&nbsp; 달성률 <b id="percent">58%</b>
							<input type="hidden" th:value="${vo.prTargetMoney}" id="tgMoney">
							<input type="hidden" th:value="${vo.prCurrentMoney}" id="crMoney">
						</dd>
						<dt>남은시간</dt>
						<dd id="limitedDate">
							<input type="hidden" th:value="${vo.prStartdate}" id="startDate">
							<input type="hidden" th:value="${vo.prEnddate}" id="endDate">
							<strong>10</strong>일
						</dd>
						<!-- <dt>후원자</dt>
						<dd>
							<strong>69</strong>명
						</dd> -->
					</dl>
				</div>
				<div class="help_box">
					<h4>펀딩 진행중</h4>
					<p>목표 금액인 <span th:text="${vo.prTargetMoney}"></span>원이 모여야만 결제됩니다.<br>결제는 <span th:text="${vo.prEnddate}"></span>에 다함께 진행됩니다.</p>
				</div>
				<div class="sponsor">
					<button type="button" class="btn btn-outline-secondary btn_like">
						<i class="far fa-heart"></i>
						<!-- <i class="fas fa-heart"></i> -->
					</button>
					<a href="#payment" class="btn btn-primary btn_sponsor">이 프로젝트 후원하기</a>
				</div>
				<div class="writer_profile">
					<h4>창작자 소개</h4>
					<div class="writer">
						<div class="pf_wrap">
							<div class="pf_img" th:style="'background:url('+ @{/static/images/profileUpload/}+${vo.prSysName} +')50% 50% no-repeat;background-size:cover;display:none;'" ></div>
							<div class="pf_link">
								<a href="#">
									<span class="name" th:text="${vo.prWriter}"></span>
								</a>
							</div>
						</div>
					</div>
					<div class="info">
						<p class="txt" th:text="${vo.prWriterintro}"></p>
						<!-- <dl>
							<dt>진행한 프로젝트</dt>
							<dd><em>15</em></dd>
							<dt>후원한 프로젝트</dt>
							<dd><em>115</em></dd>
						</dl> -->
						<button type="button" class="btn btn-outline-secondary w-100 btn-qna" data-bs-toggle="modal" data-bs-target="#qna_modal" sec:authorize="isAuthenticated()">
							<i class="far fa-envelope"></i> 문의하기
						</button>
						<button type="button" class="btn btn-outline-secondary w-100 btn-qna loginCheck"sec:authorize="!isAuthenticated()" >
							<i class="far fa-envelope"></i> 문의하기
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<ul class="tab_menu">
				<li class="tab_01 active"><a th:href="@{/project/story/} + ${vo.pno}">스토리</a></li>
<!-- 						<li class="tab_02"><a th:href="@{/project/community/} + ${vo.pno}">커뮤니티<span class="count">2</span></a></li> -->
				<li class="tab_02"><a th:href="@{/project/community/} + ${vo.pno}">커뮤니티</a></li>
				<li class="tab_03"><a th:href="@{/project/notice/} + ${vo.pno}">펀딩안내</a></li>
			</ul>
		</div>
		<div th:replace="fragments/lookaround.html :: fg-lookaround"></div>
	</div>
</body>
</html>