<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
</head>

<body>

	<div class="col-md-12 col-lg-4" th:fragment="project_info">
		<div class="payment _01 mb-4" id="payment">
			<h4>후원하기</h4>
			<form id="sponsorForm" method="post">
				<p class="money"><strong>+5000</strong></p>
				<p class="s_txt">- 더 후원해주시면 프로젝트 성사가 앞당겨집니다.<br>(후원은 상품을 제공하지 않습니다.)</p>
				<div class="btn_wrap add_money">
					<button type="button" class="btn btn-sm btn-outline-secondary pay_01">+ 5,000 원</button>
					<button type="button" class="btn btn-sm btn-outline-secondary pay_02">+ 1만 원</button>
					<button type="button" class="btn btn-sm btn-outline-secondary pay_03">+ 3만 원</button>
					<button type="button" class="btn btn-sm btn-outline-secondary pay_04">+ 5만 원</button>
				</div>
				<button type="button" class="btn btn-primary w-100 loginCheck" id="btn_payment01">5000 원 후원하기</button>
				<input type="hidden" value="후원하기" name="amount" id="samount">
				<input type="hidden" value="" name="price" id="sprice"> 
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>
		</div>
		<div class="payment _02">
			<h4>결제하기</h4>
			<p class="money"><strong id="payment_money">+<span>[[${vo.prPresentPrice}]]</span></strong></p>
			<p>수량 선택</p>
			<!-- <input type="text" id="add_money" class="form-control" placeholder="0"> -->
			<form id="payForm" method="post">
				<div class="incremental-input" id="counter-input">
					<button type="button" class="btn btn-sm btn-outline-secondary btn_minus">-</button>
					<span class="count">1</span>
					<button type="button" class="btn btn-sm btn-outline-secondary btn_plus">+</button>
				</div> 
				<button type="button" class="btn btn-primary w-100 loginCheck" id="btn_payment02"><strong class="result_money" th:text="${vo.prPresentPrice}"></strong>원 결제하기</button>
				<input type="hidden" value="" name="amount" id="amount">
				<input type="hidden" value="" name="price" id="price"> 
				<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			</form>
		</div>
	</div>
</body>
</html>