<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
</head>

<body>
	<div class="wrap">
		<header th:replace="fragments/header.html :: fg-header"></header>

		<!-- 해당 페이지 클래스명을 적어주세요-->
		<div class="project_detail">
			<div th:replace="project/projectHead.html :: project_head"></div>
			
			<div class="container-fluide">
				<div class="container">
					<div class="row">
						<div class="col-12 col-md-8 project_content">
							<div id="story" style="display:block;">
								<div class="story_contents" th:utext="${vo.prContents}">
									[[${vo.prContents}]]
								</div>
							</div>
						</div>
						<div th:replace="project/projectInfo.html :: project_info"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="project/modal.html :: qna_modal"></div>
		
	</div>
												
	<script th:inline="javascript" th:src="@{/static/js/community.js}"></script>
	<script type="text/javascript" >
	 	var pno = $("#pno").val();
		$(function(){
			function printList(list){
				let comObj;
				for (let i=0; i<list.length; i++){
					comObj = list[i];
					let date = comObj.regDate;
					let imgUrl = "../images/atom02.png";
					let link = "#"
					let post = $("<div class=post>");
					let pf_wrap =$("<div class=pf_wrap>");
					let pf_img =$("<div class=pf_img style='background:url(" + imgUrl + ") 50% 50% no-repeat;background-size:cover;'>");
					let pf_link = $("<div class=pf_link>");
					pf_link.append($("<a href='" + link + "'><span class=name>" + comObj.name+ "</span><i class='fas fa-angle-right'></i>"));
					let regdate = $("<span class='date'>" + formatDate(date) +"</span>");
					let content = $("<div class=txt><p>"+ comObj.contents +"</p></div>");

					pf_wrap.append(pf_img);
					pf_wrap.append(pf_link);
					pf_link.append(regdate);
					post.append(pf_wrap);
					post.append(content);
					$(".post_list").append(post);
				}
			}
			
			function formatDate(timeValue){
				let date = new Date(timeValue);
				return date.getFullYear()
				+ "-" + (date.getMonth()+1 >= 10?date.getMonth()+1 : '0' + (date.getMonth()+1)) + "-" + date.getDate();
			}
			
			$(".tab_menu li").on("click", function(){
				if($(this).hasClass("tab_01")){
					$("#story").css("display", "block").siblings().hide();
				}else if($(this).hasClass("tab_02")){
					$("#community").css("display", "block").siblings().hide();
				}else if($(this).hasClass("tab_03")){
					$("#guide").css("display", "block").siblings().hide();
				}
				$(this).addClass("active").siblings().removeClass("active");
			})

			$("#pay_01").on("click", function(){
				$("#btn_payment").text("1 만 원 후원하기");
				$("._01 .money strong").text("+10000");
			});
			$("#pay_02").on("click", function(){
				$("#btn_payment").text("30 만 원 후원하기");
				$("._01 .money strong").text("+300000");
			});
			$("#pay_03").on("click", function(){
				$("#btn_payment").text("50 만 원 후원하기");
				$("._01 .money strong").text("+500000");
			});
			$("#pay_04").on("click", function(){
				$("#btn_payment").text("100 만 원 후원하기");
				$("._01 .money strong").text("+1000000");
			});

			$("#add_money").on("keypress", function(){
				let number = $(".money strong").text().replace(",", "");
				console.log(number);
				let money = console.log("수량 : " + count);
				console.log(money);
				money = money + parseInt($(this).val());
				console.log(money);
				$("._01 .money strong").text(money);
			})
			
			let count = 1; // 수량 초기값
			let moneyTxt = $(".payment._02 .money strong");
			let money = parseInt(moneyTxt.text().substring(1)); // 상품 금액

			$(".btn_minus").on("click", function(){
				if(count == 1){
					alert("수량은 1개 이상 선택 가능합니다.");
					return false;
				}				
				--count;
				let money_txt= (money*count);
				$(".incremental-input .count").text(count);
				moneyTxt.text(money_txt);
				$("#btn_payment .result_money").text(money_txt);
			})
			
			$(".btn_plus").on("click", function(){
				++count;
				let money_txt= (money*count);
				$(".incremental-input .count").text(count);
				moneyTxt.text(money_txt);
				$("#btn_payment .result_money").text(money_txt);
			})
			
			
			// 커뮤니티글 작성 
			$("#addCommunityBtn").on('click', function(){
				let title = $("#com_title").val();
				let contents = $("#com_contents").val();				  
			 	let obj = { writer:'writer',title: title, contents: contents, project_pno:pno, secret :'N'}
			  	console.log(JSON.stringify(obj));
		  		$.ajax({
		  			type:'post',
			  		url: '/community/' + obj.project_pno,
				  	data : JSON.stringify(obj),
				  	dataType:'json',
				  	contentType: "application/json",
				  	beforeSend: function (jqXHR, settings) {
		           		let header = $("meta[name='_csrf_header']").attr("content");
		           		let token = $("meta[name='_csrf']").attr("content");
		           		jqXHR.setRequestHeader(header, token);
					}
		  		}).done(function(){
		  			console.log("성공");
		  			$('#community_modal').modal('hide');
		  			communityManager.getAll(pno, printList)
	  			})
				  
			 });
			
			
			// QnA 문의하기 
			$("#addQnaBtn").on('click', function(){
				let category = $("#qna_category option:selected").val();
				let contents = $("#qna_contents").val();		
				let receiver = $("#receiver").val();
				receiver = "hansol"
				console.log("receiver : " + receiver);
				console.log("category : " + category);
				console.log("contents : " + contents);
				
			 	let obj = { writer:'qnawriter',qnacategory:category, contents: contents, member_username :receiver};
			  	console.log(JSON.stringify(obj));
			  	let url = '/qna/' + obj.member_username;
			 	console.log(url);
			 	
		  		$.ajax({
		  			type:'post',
			  		url: decodeURI(url),
				  	data : JSON.stringify(obj),
				  	dataType:'json',
				  	contentType: "application/json",
				  	beforeSend: function (jqXHR, settings) {
		           		let header = $("meta[name='_csrf_header']").attr("content");
		           		let token = $("meta[name='_csrf']").attr("content");
		           		jqXHR.setRequestHeader(header, token);
					}
		  		}).done(function(){
		  			console.log("성공");
		  			$('#qna_modal').modal('hide');
	  			})
				  
	  			
	  			var menuHeight = d$(".payment _01").offset().top;
		  		var location = $(".btn_sponsor").offset().top;
		  		window.scrollTo({top:location - menuHeight, behavior:'smooth'});
		  		
		  		$('.btn_sponsor').on("click", function(){
		  			
		  		    $('html, body').animate({
		  		        scrollTop: $( $(this).attr('href') ).offset().top
		  		    }, 500);
		  		    return false;
		  		});
		  		
			 });
		})
	</script>
</body>
</html>