<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<link th:href="@{/static/css/project_detail.css}" rel="stylesheet">
	<script th:inline="javascript" th:src="@{/static/js/community.js}"></script>
	<script type="text/javascript" th:src="@{/static/js/projectHead.js}"></script>
</head>

<body>
	<div class="wrap">
		<header th:replace="fragments/header.html :: fg-header"></header>

		<!-- 해당 페이지 클래스명을 적어주세요-->
		<div class="project_detail">
			<div th:replace="project/projectHead.html :: project_head"></div>
			
			<div class="container-fluide">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-lg-7 project_content">
							<div id="story" style="display:block;">
								<div class="story_contents" th:utext="${vo.prContents}">
									[[${vo.prContents}]]
								</div>
							</div>
						</div>
						<div th:replace="project/projectInfo.html :: project_info"></div>
					</div>
				</div>
			</div>
		</div>
		
		<div th:replace="project/modal.html :: qna_modal"></div>
	</div>
</body>
</html>