<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">

<th:block th:replace="fragments/commonHead"></th:block>
   
	<link rel="stylesheet" type="text/css" th:href="@{/static/css/qna.css}">
</head>


<body>
	<div class="wrap">
		<header id="header" th:fragment="fg-header">
			<div class="container">
				<div class="row">
					<div class="col-4 col-md-5">
						<ul class="menu">
							<li class="search" id="search"><img
								src="../images/ic_search.png" alt=""><span>프로젝트 </span>둘러보기</li>
							<li class="register"><a href="#">프로젝트 올리기</a></li>
							<li class="back"><a href="">이전페이지로</a></li>
						</ul>
					</div>
					<div class="col-4 col-md-2">
						<h1 class="logo">
							<a href="#">Promising</a>
						</h1>
					</div>
					<div class="col-4 col-md-5">
						<div class="utils">
							<a href="#"> <span>회원가입/로그인</span>
								<div class="pf_wrap">
									<div class="pf_img"
										style="background: url(../images/atom02.png) 50% 50% no-repeat; background-size: cover;"></div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</header>


		<!-- 해당 페이지 클래스명을 적어주세요-->
		<div class="container mx-7">
			<div class="row profileLine">
				<div class='col-12 namennavi'>


					<div class='nameline'>
						<span>문의사항</span>
					</div>

				</div>

			</div>
		</div>

		<div class="container">
			<div class=" row tabline">
				<ul class="nav nav-pills" id="pills-tab" role="tablist">

					<li class="nav-item" role="presentation">
						<button class="nav-link p-3" id="pills-contact-tab"
							data-bs-toggle="pill" data-bs-target="#pills-QnA" type="button"
							role="tab" aria-controls="pills-QnA" aria-selected="false">보낸
							프로젝트 문의</button>
					</li>

					<li class="nav-item" role="presentation">
						<button class="nav-link p-3" id="pills-contact-tab"
							data-bs-toggle="pill" data-bs-target="#pills-MyQnA" type="button"
							role="tab" aria-controls="pills-MyQnA" aria-selected="false">받은
							프로젝트 문의</button>
					</li>

				</ul>

				<hr>

				<div class="tab-content" id="pills-tabContent">
					<div class="tab-pane fade show active" id="pills-QnA"
						role="tabpanel" aria-labelledby="pills-QnA-tab">
					<div class="row" id="main_list"
							th:if="${not #lists.isEmpty(result2)}">

							<div class="col-12 col-md-6 col-xl-3" th:each="pro:${result2}">
								<div class="card">
									<div class="imgDiv">
										<img th:src="@{/static/images/main/card1.jpeg}"
											class="card-img-top" alt="..."> <img
											th:src="@{/static/images/main/heart1.png}" width="20" class="heart">
									</div>
									<div class="card-body">

										<div class="writer">
											<span id="prCategory"><a href="#">[[${pro.qnano}]]</a></span>
											<span class="division">|</span> 
											<span class="division">|</span> <span id="prCategory"><a href="#">[[${pro.qnacategory}]]</a></span>
											<span class="division">|</span> <span id="prCategory"><a href="#">[[${pro.contents}]]</a></span>
											<span class="division">|</span> <span><a href="#">[[${pro.writer}]]</a></span>
											
										</div>
										<div class="pro_title">
										<!-- 	<a href="#">[[${pro.regDate}]]</a> -->
										</div>
										<div class="achi">
											<span>[[${pro.regDate}]]</span>
										</div>

									</div>

								</div>
							</div>
										<hr>
							
					<div class="col-12 col-md-6 col-xl-3 float-right">

							<a href="/member/auth/mypage"><input type="button" class="btn-lg btn-primary " id="backBtn" value="뒤로가기"></a>
					</div>
						</div>

						<div class="col-12 col-md-6 col-xl-3"
							th:unless="${not #lists.isEmpty(result)}">

							<span>프로젝트 문의가 없습니다.</span>

						</div>
					</div>


					<div class="tab-pane fade" id="pills-MyQnA" role="tabpanel"
						aria-labelledby="pills-MyQnA-tab">
								<div class="row" id="main_list"
							th:if="${not #lists.isEmpty(result)}">

							<div class="col-12 col-md-6 col-xl-3" th:each="pro:${result}">
								<div class="card">
									<div class="imgDiv">
										<img th:src="@{/static/images/main/card1.jpeg}"
											class="card-img-top" alt="..."> <img
											th:src="@{/static/images/main/heart1.png}" width="20" class="heart">
									</div>
									<div class="card-body">

										<div class="writer">
											<span id="prCategory"><a href="#">[[${pro.qnano}]]</a></span>
											<span class="division">|</span> 
											<span id="prCategory"><a href="#">[[${pro.qnacategory}]]</a></span>
											<span id="prCategory"><a href="#">[[${pro.contents}]]</a></span>
											<span class="division">|</span> <span><a href="#">[[${pro.writer}]]</a></span>
											
										</div>
										<div class="pro_title">
										<!-- 	<a href="#">[[${pro.regDate}]]</a> -->
										</div>
										<div class="achi">
											<span>[[${pro.regDate}]]</span>
										</div>

									</div>

								</div>
							</div>
										<hr>
							
					<div class="col-12 col-md-6 col-xl-3 float-right">

							<a href="/member/auth/mypage"><input type="button" class="btn-lg btn-primary " id="backBtn" value="뒤로가기"></a>
					</div>
						</div>

						<div class="col-12 col-md-6 col-xl-3"
							th:unless="${not #lists.isEmpty(result)}">

							<span>프로젝트 문의가 없습니다.</span>

						</div>
					</div>
				</div>





			</div>
		</div>

	</div>






</body>
</html>