<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<th:block th:replace="fragments/commonHead"></th:block>
<link rel="stylesheet" type="text/css" th:href="@{/static/css/qna.css}">
<script type="text/javascript" th:src="@{/static/js/mypageQna.js}"></script>

</head>
<body>

	<div class="wrap">
		<header th:replace="fragments/header.html :: fg-header"></header>
		<div class="container">
			<div class="container mx-7">
				<div class="row profileLine">
					<div class='col-12 namennavi'>
						<div class='nameline'>
							<span>문의사항</span>
							<div class="col-12 col-md-6 col-xl-3 float-right">
								<a href="/member/auth/mypage"><input type="button"
									class="btn btn-light btn-sm" id="backBtn" value="뒤로가기"></a>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="container mppd">
				<div class=" row tabline">
					<ul class="nav nav-pills" id="pills-tab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link p-3 active" id="pills-contact-tab"
								data-bs-toggle="pill" data-bs-target="#pills-QnA" type="button"
								role="tab" aria-controls="pills-QnA" aria-selected="false">보낸
								프로젝트 문의</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link p-3" id="pills-contact-tab"
								data-bs-toggle="pill" data-bs-target="#pills-MyQnA"
								type="button" role="tab" aria-controls="pills-MyQnA"
								aria-selected="false">받은 프로젝트 문의</button>
						</li>
					</ul>
					<hr>
					<div class="tab-content" id="pills-tabContent">
						<!-- 보낸 프로젝트 문의  -->
						<div class="tab-pane fade show active" id="pills-QnA"
							role="tabpanel" aria-labelledby="pills-QnA-tab">
							<div id="main_list" th:if="${not #lists.isEmpty(result2)}">
								<div th:each="pro:${result2}">
									<div class="row  card">
										<!-- <div class="item imgDiv">
                                 <img th:src="@{'/static/images/projectuploading/'+${pro.prSysName}}" class="card-img-top">
                                 <img src="/static/images/atom02.png" width="120px">
                              </div> -->
										<div class="  col-12 col-md-4   item card-body" id="boxbox">
											<div>
												<span class="cate pro">분류 : [[${pro.qnacategory}]]</span>
											</div>
											<div class="writer">수신자 : [[${pro.receiver}]]</div>
											<div class="date">[[${#dates.format(pro.regDate, ' yy년
												MM월 dd일 HH:mm:ss')}]]</div>
										</div>
										<div class="  col-12 col-md-8   item card-body contents"
											id="contentsDetail3">
											<p>[[${pro.contents}]]</p>
										</div>
									</div>
								</div>
							
							</div>
								<div class=" col-12" th:unless="${not #lists.isEmpty(result2)}">
								<span>보낸 문의가 없습니다.</span>
							</div>
						</div>

						<!-- 받은 프로젝트 문의 -->
						<div class="tab-pane fade" id="pills-MyQnA" role="tabpanel"
							aria-labelledby="pills-MyQnA-tab">
							<div id="main_list" th:if="${not #lists.isEmpty(result)}">
								<div th:each="pro:${result}">
									<div class="row card">

										<div class="col-12 col-md-4 item card-body">
											<div class="">
												<div class="col-8">
													<span class="cate pro">분류 : [[${pro.qnacategory}]]</span>
												</div>
												<div class="col-8 writer">
													발신자:
													<p id="writergo">[[${pro.writer}]]</p>
												</div>
												<div class="col-8 date">[[${#dates.format(pro.regDate,
													' yy년 MM월 dd일 HH:mm:ss')}]]</div>
												<button class="btn btn-light modalUp" type="button"
													data-bs-toggle="modal" data-bs-target="#qna_modal"
													id="replyBtn">답장보내기</button>
											</div>
										</div>
										<div class="col-12 col-md-12 item card-body contents"
											id="contentsDetail3">
											<p>[[${pro.contents}]]</p>
										</div>
									</div>
								</div>

							</div>

							<div class="col-12 " th:unless="${not #lists.isEmpty(result)}">
								<span>받은 문의가 없습니다.</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- container end -->
		<div class="modal fade" id="qna_modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1" aria-hidden="true"
			th:fragment="qna_modal">
			<div class="modal-dialog modal-dialog-centered">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title">문의답변</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<dl>
							<dt>받는사람</dt>
							<dd>
								<input type="text" class="form-control" name="re" id="receiver"
									readonly>

							</dd>
							<dt>문의내용</dt>
							<dd>
								<select class="form-select" id="qna_category"
									required="required">
									<option value="#">문의유형</option>
									<option value="선물/후원">선물/후원</option>
									<option value="프로젝트">프로젝트</option>
									<option value="수령자 정보">수령자 정보</option>
									<option value="배송">배송</option>
									<option value="기타">기타</option>
								</select>
							</dd>
						</dl>
						<textarea class="form-control" id="qna_contents" rows="5" col="20"
							placeholder="프로젝트 진행자에게 문의하고 싶은 내용을 적어주세요." required></textarea>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">닫기</button>
						<button type="button" class="btn btn-primary" id="addQnaBtn">답장하기</button>
					</div>
				</div>
			</div>
		</div>
		<!-- modal fade end -->
		<div th:replace="fragments/lookaround.html :: fg-lookaround"></div>
		<!-- lookaround end -->
		<footer th:replace="fragments/footer.html :: fg-footer"></footer>
	</div>
</body>
</html>