<!doctype html>
<html xmlns:th="http://thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
<th:block th:replace="fragments/commonHead"></th:block>
<title>보드 프로젝트</title>
<link th:href="@{/static/css/forget.css}" rel="stylesheet">
<script type="text/javascript" th:src="@{/static/js/common.js}"></script>
<script type="text/javascript" th:src="@{/static/js/forget.js}"></script>
<link rel="stylesheet" type="text/css"
	th:href="@{/static/css/common_style.css}">

</head>
<body>
	<div class="wrap">
		<header th:replace="fragments/header.html :: fg-header"></header>
		<div class="forgetcontainer">
			<h2>하이염</h2>
			</div>
		</div>
	
</body>
</html>
