	<!DOCTYPE html>
	
	<html lang="ko" xmlns:th="http://thymeleaf.org">
	
	
	<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
	<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>
	<title>Promising</title>
	<link
		href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
		rel="stylesheet">
	<link rel="stylesheet"
		href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
	<link href="/static/css/common_style.css" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/static/css/infoUpdate.css}">
	<link rel="stylesheet" th:href="@{/static/js/infoUpdate.js}">
	<script type="text/javascript" th:src="@{/static/js/infoUpdate.js}"></script>
	<link rel="stylesheet"
		href="/static/fonts/material-design-iconic-font.min.css">
	
	<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
	
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	
	
	
	
	<!-- 현재버젼: 큰레이아웃+ slideToggle 완성/ 디테일수정요망: 어떤정보~부분 / 배송지 부분(카카오적용완료) 프론트만수정/DB저장 연동필요 -->
	
	</head>
	
	<!--  -->
	<body>
		<div class="wrap">
	  <header th:replace="fragments/header.html :: fg-header"></header>
	
			<div class="container">
				<div class=row>
					<div class="col-md-6 setting">
						<span>설정</span>
					</div>
				</div>
			</div>
	
	
	
	
	
			<div class="container">
				<div class=" row tabline">
					<ul class="nav nav-pills" id="pills-tab" role="tablist">
						<li class="nav-item" role="presentation">
							<button class="nav-link p-3 active" id="pills-home-tab"
								data-bs-toggle="pill" data-bs-target="#pills-home" type="button"
								role="tab" aria-controls="pills-home" aria-selected="true">계정</button>
						</li>
						<li class="nav-item" role="presentation">
							<button class="nav-link p-3" id="pills-profile-tab"
								data-bs-toggle="pill" data-bs-target="#pills-profile"
								type="button" role="tab" aria-controls="pills-profile"
								aria-selected="false">배송지</button>
						</li>
	
					</ul>
	
					<hr>
	
					<div class="tab-content" id="pills-tabContent">
						<div class="tab-pane fade show active" id="pills-home"
							role="tabpanel" aria-labelledby="pills-home-tab">
							<h3>프로필 이미지</h3>
							<div class="modifyScroll">
								<span><a href="javascript:;" id="PromodifyScroll">변경</a></span>
							</div>
							<div class='col-sm-4 col-md-4 namennavi' id="nameNaviBlock">
								<div class='col-sm-4 col-md-4 namennavi'>
									<div
										class="col-sm-4 col-md-4 settingPageDescBox-bpcmiq-1 cwYHpD">
										<p class="fnt-p1 tbb-clr-gray-80 fnt-st-bd">어떤 정보가 프로필에
											공개되나요?</p>
										<div class="fnt-p3 tbb-clr-gray-60">
											프로필 사진과, 이름, 사용자 이름, 소개글, 웹사이트 및 회원님과 관련된 프로젝트 등이 프로필 페이지에 공개
											됩니다. 프라이버시 설정을 활성화하시면 후원한 프로젝트 목록을 숨길 수 있습니다.&nbsp;<span
												color="sub0180"
												class="PlainNavLink__Wrapper-sc-9qhsie-0 kZoYUd"> <a
												href="/u/ciaggpxwysugxuel">내 프로필 바로가기</a></span>
										</div>
										
										<!-- [[${result.uname}]] -->
									</div>
									
								
	<!-- <img id="profile" th:src="@{'/src/main/resources/static/images/'+[[${result.sysName}]]}" class="w-100 h-100"> -->
									<img id="profile" th:src="@{'/static/images/profileUpload/'+${result.sysName}}" class="w-200 h-200">
		<!-- <img id="profile" th:src="@/[[${result.sysName}]]" class="w-100 h-100">  -->
	<!-- /src/main/resources/ -->
	
									<form th:action="@{/member/profileAttach}" method="post"
										enctype="multipart/form-data">
										<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
										<!-- 프로필사진 전송 Form -->
										<div class="fileUploadClass">
	
											<label class="btn btn-outline-secondary btn-file"
												id="btn-fileUp"> 파일추가 <input type="file" name="file"
												accept=".gif, .jpeg, .png"
												autofocus="autofocus" style="display: none;" id="filebtn"
												maxlength="10" required> <!--숨기기-->
											</label>
										</div>
										<div class="col-sm-4 col-md-4 " id="uploadDesc">
											<span> 250X250 픽셀에 최적화 되어있으며, 10Mb 이하의 JPG,GIF,PNG 파일을
												지원합니다.</span>
											<button class="btn btn-dark savebutton" type="submit"
												id="profileSaveBtn">저장</button>
										</div>
									</form>
	
								</div>
							</div><br><br><br>
							<div>
								<hr>
							</div>
	
	
							<div class="UserName">
								<div class="modifyScroll">
									<span><a href="javascript:;" id="nameModifyScroll">변경</a></span>
	
								</div>
								<h3>닉네임</h3>
	
								<h4>[[${result.uname}]]</h4>
								<br>
								<div id="nameNBlank">
									<input type="text" class="blank form-control-lg" id="userName"
										placeholder="이름을 입력하세요." required>
									<div class="col-sm-4 col-md-4 uploadcomment">
										<button class="btn btn-dark" type="button" id="Namesavebutton">저장</button>
									</div>
								</div>
	
								<div class="container blankLine">
	
									<hr>
	
								</div>
							</div>
	
	
	
	
							<!-- 이메일 시작 -->
							<div class='col-sm-4 col-md-4 emailnavi'>
	
								<div class="UserEmail">
									<div class="modifyScroll">
										<span><a href="javascript:;" id="emailModifyScroll">변경</a></span>
									</div>
									<h3>이메일</h3>
									<h5>[[${result.username}]]</h5>
									<br>
									<div id="emailblankNButton">
										<input type="text" class="blank form-control-lg"
											placeholder="이메일을 입력하세요." id="userEmail">
	
										<div class="col-sm-4 col-md-4 uploadcomment">
											<button class="btn btn-dark " type="button"
												id="emailSavebutton">인증메일 전송</button>
										</div>
									</div>
								</div>
							</div>
	
							<div>
								<hr>
							</div>
							<!-- 비밀번호 시작 -->
							<div class='col-sm-4 col-md-4 pwnavi'>
	
								<div class="UserPw">
									<div class="modifyScroll">
										<span><a href="javascript:;" id="pwModifyScroll">변경</a></span>
									</div>
									<h3>비밀번호</h3>
									<br>
								</div>
							</div>
		
							<div class="pwReset" id=pwblankNButton>
								<div class="rememberPw">
									<h6>현재 비밀번호</h6>
									<input type="text" class="blank form-control-lg"
										placeholder="현재 비밀번호" id="currPw" name="currPw"> <br>
	
									<h6>비밀번호가 기억나지 않나요?</h6>
	
									<button class="btn btn-link" id="pwResetBtn">비밀번호 초기화</button>
								</div>
								<div class="pwReset">
									<h6>변경할 비밀번호</h6>
									<input type="text" class="blank form-control-lg"
										placeholder="변경할 비밀번호" id="repw1" name="repw1"><br> <input
										type="text" class="blank form-control-lg"
										placeholder="변경할 비밀번호 확인" id="repw2" name="repw2">
	
								</div>
	
								<div class="col-sm-4 col-md-4 uploadcomment">
									<button class="btn btn-dark savebutton" type="button" id="pwSaveBtn">저장</button>
								</div>
							</div>
		
							<hr>
	
							<!--연락처 시작 -->
							<div class="modifyScroll">
								<span><a href="javascript:;" id="contactModifyScroll">변경</a></span>
							</div>
							<h3>전화번호</h3>
							<div class="contactmodi" id="contactblankNButton">
								<h4>[[${result.uphone}]]</h4>
								<input type="text" class="blank contactBlank form-control-lg"
									placeholder="연락처를 입력하세요." name="uphone" id="contact">
	
	
								<div class="col-sm-4 col-md-4 uploadcomment">
									<button class="btn btn-dark" type="button" id="contactVertify">전화번호 변경</button>
								</div>
	
								<div></div>
							</div>
	</div>
						</div>
						</div>
						<!--첫번째 계정 컨텐츠 들어 끝나는지점-->
	
	
						<!--배송주소 모달 -->
						<div class="tab-pane fade" id="pills-profile" role="tabpanel"
							aria-labelledby="pills-profile-tab">
							<h3>배송주소</h3>
							<div class="shippingModify">
	
								<button class="btn btn-link " id="addressModifyBtn" type="button"
									data-toggle="modal" data-target="#example-modal">주소변경</button>
	
	
								<div id="example-modal" class="modal modal-center fade  "
									role="dialog">
									<div class="modal-dialog  " role="document">
										<div class="modal-content">
	
											<div class="modal-header" id="shippingTitle">
												<h5>배송지 수정</h5>
	
												<button type="button" class="close btn" data-dismiss="modal"
													aria-label="Close">
													<span aria-hidden="true">&times;</span>
												</button>
											</div>
	
	
											<div class="modal-body">
	
												<form>
													<div class="mb-3">
														<label for="exampleInputEmail1" class="form-label">받는
															사람</label><br> <input type="text" name="name"
															class="form-control" aria-label=".form-control-lg example"
															id="inputReceiverName" placeholder="받는분의 성함을 입력해주세요."
															required>
	
													</div>
	
													<div class="mb-3">
														<label for="exampleInputPassword1" class="form-label">받는
															사람 휴대폰 번호</label><br> <input type="text" name="contact"
															class="form-control" placeholder="받는 분의 연락처를 입력해주세요."
															id="inputReceiverContact" required>
													</div>
	
	
													<div class="mb-3">
														<label for="address" class="form-label">주소</label><br>
														<div class=combination id="addressBoxnIcon">
															<input type="text" name="address1" class="form-control"
																id="addressScope" placeholder="주소를 입력하세요." required>
															<div class="modifyIcon">
																<a href="javacript:;" class="py-2 d-block"><i
																	class="zmdi zmdi-search zmdi-hc-2x" id=searchAddress></i></a>
	
															</div>
														</div>
													</div>
	
	
													<div class="mb-3">
														<label for="postCode" class="form-label">우편번호</label><br>
														<input type="text" name="postCode" class="form-control"
															id="postCode" required placeholder="우편번호를 입력하세요.">
													</div>
	
	
	
	
													<div class="mb-3">
														<label for="addressDetail" class="form-label">상세주소</label><br>
														<input type="text" name="address2" class="form-control"
															id="addressDetail" placeholder="상세 주소를 입력하세요." required>
													</div>
	
	
	
	
													<div class="modal-footer">
														<button type="button" class="btn btn-primary center col-12"
															id="modifyComp" name="modifyComp">등록 완료</button>
	
													</div>
	
												</form>
											</div>
										</div>
									</div>
								</div>
							</div>
	
	
	
	<!--  주소부분시작 -->
							<div class="RoundedWrapper__Wrapper-a7usag-0 ckzBmr"
								id="shippingDataBox">
	
	
								<div class="mb-3">
									<div class="mb-3">
										<label for="postCode" class="form-label">받는 사람이름</label><br>
										<div class="form-control">
											<h5>[[${result.realname}]]</h5>
											<br>
	
										</div>
									</div>
	
									<div class="mb-3">
										<div class="mb-3">
											<label for="postCode" class="form-label">받는 사람 연락처</label><br>
											<div class="form-control">
												<h5>[[${result.uphone}]]</h5>
												<br>
	
											</div>
										</div>
	
	
	
	
										<div class="mb-3">
											<div class="mb-3">
												<label for="postCode" class="form-label">주소</label><br>
												<div class="form-control">
													<h5>[[${result.address1}]]</h5>
													<br>
	
												</div>
											</div>
	
	
											<div class="mb-3">
												<label for="postCode" class="form-label">상세주소</label><br>
												<div class="form-control">
													<h5>[[${result.address2}]]</h5>
													<br>
	
												</div>
	
	
	
												<div class="mb-3">
													<label for="postCode" class="form-label">우편번호</label><br>
													<div class="form-control">
														<h5>[[${result.upostcode}]]</h5>
														<br>
	
													</div>
	
												</div>
	
											</div>
										</div>
	
	
									</div>
								</div>
	
	
	
							</div>
							
							
							<!--  주소끝부분 -->
	
	
	
						</div>
						<!--텝라인 div닫기 -->
					</div>

	<!-- Wrap 닫기 -->
	
				
				
		<script>
					$(function() {
						$("#Namesavebutton")
								.on(
										"click",
										function() {
	
											let modifyId = $("#userName").val();
	
											if (modifyId == "") {
	
												alert("변경할 이름을 입력해주세요.")
	
											} else {
	
												console.log(modifyId);
												$
														.ajax({
															type : 'POST',
															url : '/member/infoUpdate/'
																	+ modifyId,
															data : JSON.stringify({
																uname : modifyId
															}),
															contentType : "application/json",
															beforeSend : function(
																	jqXHR, settings) {
																let header = $(
																		"meta[name='_csrf_header']")
																		.attr(
																				"content");
																let token = $(
																		"meta[name='_csrf']")
																		.attr(
																				"content");
																jqXHR
																		.setRequestHeader(
																				header,
																				token);
															},
															success : function(data) {
																alert("갱신 성공");
																console.log(data);
																location.reload();
	
															},
															error : function(
																	request,
																	status, error) {
																alert("이름이 중복됩니다. 다른 이름을 설정해주세요."); // 실패 시 처리
	
															}
	
														})
	
											}
										})
	
						$("#contactVertify").on("click",function() {
	
											/*값이 잘가는가?*/
											let modifyContact = $("#contact").val();
	
											if (modifyContact == "") {
	
												alert("변경할 번호을 입력해주세요.")
	
											} else {
	
												console.log(modifyContact);
												$
														.ajax({
															type : 'POST',
															url : '/member/uphoneUpdate/'
																	+ modifyContact,
															data : JSON
																	.stringify({
																		uphone : modifyContact
																	}),
															contentType : "application/json",
															beforeSend : function(
																	jqXHR, settings) {
																let header = $(
																		"meta[name='_csrf_header']")
																		.attr(
																				"content");
																let token = $(
																		"meta[name='_csrf']")
																		.attr(
																				"content");
																jqXHR
																		.setRequestHeader(
																				header,
																				token);
															},
															success : function(data) {
	
																console
																		.log("갱신 성공");
																alert("갱신 성공");
	
															},
															error : function(
																	request,
																	status, error) {
																alert("번호가 중복됩니다. 다시 설정해주세요."); // 실패 시 처리
	
															}
	
														})
	
											}
										})
										/* 비밀번호 변경 */
							 	$("#pwSaveBtn").on("click",function() {
	
											let modifyPw1= $("#repw1").val();
											let modifyPw2 = $("#repw2").val();
											let currPw = $("#currPw").val();
											
											if (modifyPw1!=modifyPw2) {
	
												alert("비밀번호의 일치여부를 확인해주세요.");
												return false;
											}else if((modifyPw1=="")||((modifyPw2)=="")){
												

												alert("비밀번호를 입력하세요.");
												 return false;
											}else {
	
									
												$
														.ajax({
															type : 'POST',
															url : '/member/pwModify',
															data : JSON
																	.stringify({"modifyPw1":modifyPw1,"currPw":currPw}),
															contentType : "application/json; charset=UTF-8",
															beforeSend : function(
																	jqXHR, settings) {
																let header = $(
																		"meta[name='_csrf_header']")
																		.attr(
																				"content");
																let token = $(
																		"meta[name='_csrf']")
																		.attr(
																				"content");
																jqXHR
																		.setRequestHeader(
																				header,
																				token);
															},
															success : function(data) {
	
																console
																		.log("갱신 성공");
																alert("갱신 성공");
	
															},
															error : function(error) {
																alert("갱신실패"); // 실패 시 처리
																
															}
	
														})
	
											}
										}) 
										
											$("#modifyComp").on("click",function(){
												var realName=$("#inputReceiverName").val();
												var uphone=$("#inputReceiverContact").val();
												var address1=$("#addressScope").val();
												var postcode=$("#postCode").val();
												var address2=$("#addressDetail").val();
												
												var obj ={"realName":realName,"uphone":uphone, "address1":address1,"postcode":postcode,"address2":address2}
												
												if((realName=="")||(uphone=="")||(address1=="")||(postcode=="")||(address2=="")){
													alert("변경란을 모두 채워주세요.")
													
												}else{
													
													$.ajax({
													type : 'POST',
													url : '/member/addressUpdate',
											data : JSON.stringify({"realName":realName,"uphone":uphone, "address1":address1,"postcode":postcode,"address2":address2}),
												contentType : "application/json",
												beforeSend : function(
												jqXHR, settings) {
												let header = $("meta[name='_csrf_header']").attr("content");
												let token = $("meta[name='_csrf']").attr("content");
												jqXHR.setRequestHeader(header,token);
											},success : function(data) {
												alert("갱신 성공");
											console.log(data);
											location.reload();}
											
											,error : function(request,status, error) {
											alert("올바른 값을 입력했는지 확인해주세요."); // 실패 시 처리
											}
											})
												
											}
											
											})

					})
				</script>
	</body>
	
	</html>