<!doctype html>
<html xmlns:th="http://thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<th:block th:replace="fragments/commonHead"></th:block><title>보드 프로젝트</title>
   <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
  <link rel="stylesheet" type="text/css" th:href="@{/static/css/common_style.css}">
<link th:href="@{/static/css/login.css}" rel="stylesheet">

<script>
	$(function() {
		$("#signup").on("click", function() {
			location.href = "/member/signup";
		})
	})
</script>

</head>
<body>
	<div class="wrap">
	<header th:replace="fragments/header.html :: fg-header"></header>
		<div class="logincontainer">
			<div class="container loginBox p-4 shadow bg-white rounded">
				<h2 class="mb-5 text-center">로그인</h2>
						
				<form method="post">
					<div class="row mb-3">
						<div class="col-12 mb-2">
							<input type="text" class="form-control" name="username"
								placeholder="이메일을 입력해주세요.">
						</div>
						<div class="col-12">
							<input type="password" class="form-control" name="password"
								placeholder="비밀번호를 입력해주세요.">
						</div>
					</div>
					<input type="hidden" th:name="${_csrf.parameterName}"
						th:value="${_csrf.token}">
					<div class="form-check form-switch rememberbox">
						<label  class="form-check-label" for="remember-me"><input type="checkbox" class="form-check-input" id="remember-me" name="remember-me">로그인
						유지</label>
					</div>
					<div class="row align-items-center mt-4">
						
							<button class="loginbtn btn btn-primary"><span>로그인</span></button>
						
					</div>
				</form>
				<div class="joinbox">
				아직 Promising 계정이 없으신가요?<span><a href="/member/signup">가입하기</a></span>
				</div>
				<div class="line">
				
				</div>
				<div class="forgotbox">
				<span class="ifforgot"><a href="/member/forget">혹시 비밀번호를 잊으셨나요?</a></span>
				</div>
			</div>
			
		</div>
	</div>
	<div th:replace="fragments/lookaround.html :: fg-lookaround"></div>
</body>
</html>



