<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" >
<head>
  <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="_csrf" th:content="${_csrf.token}">
<meta name="_csrf_header" th:content="${_csrf.headerName}">
	<th:block th:replace="fragments/commonHead"></th:block>

<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>

	<link th:href="@{/css/signup.css}" rel="stylesheet">
	<script src="/js/signup.js"></script>
</head>
<body>
<div class="wrap">
<header th:replace="fragments/header.html :: fg-header"></header>
<div class="signupwrap">
		<div class="container joinbox p-5 mt-5 shadow bg-white rounded">
		<h2 class="joinhi">회원가입</h2>
		<form th:action="@{/member/signup}"
			method="post" id="checkForm">
			 <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="inlineFormInput">아이디</label>
				</div>
				<div class="col-8 col-sm-auto mb-2">
					<input type="text" class="form-control" name="username" id="id"
						placeholder="이메일을 입력해주세요.">
				</div>
				<div class="col-4 col-sm-auto mb-2">
					<input type="button" id="emailcheck" class="btn btn-dark w-100"
						value="이메일 인증">
				</div>
			</div>
			<div class="form-row align-items-center secret">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="inlineFormInput">이메일 인증</label>
				</div>
				<div class="col-8 col-sm-auto mb-2">
					<input type="text" class="form-control"  id="keycheck"
						placeholder="인증 키를 입력해주세요!">
				</div>
				<div class="col-4 col-sm-auto mb-2">
					<input type="button" id="emailsubmit" class="btn btn-dark w-100"
						value="인증번호 확인">
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">비밀번호</label>
				</div>
				<div class="col-12 col-sm-auto mb-2">
					<input type="password" class="form-control" name="password"
						id="inp_pw01" placeholder="비밀번호를 입력해주세요.">
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">비밀번호 확인</label>
				</div>
				<div class="col-12 col-sm-auto mb-2">
					<input type="password" class="form-control" id="inp_pw02"
						placeholder="비밀번호를 입력해주세요.">
				</div>
				<div class="col-12 col-sm-auto pw-check mb-2">
					<span class="text-danger" id="pw-danger">비밀번호가 일치하지 않습니다!</span> <span
						class="text-success" id="pw-success">비밀번호가 일치합니다.</span>
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">닉네임</label>
				</div>
				<div class="col-8 col-sm-auto mb-2">
					<input type="text" class="form-control" name="uname" id="uname"
						placeholder="닉네임을 입력해주세요.">
				</div>
				<div class="col-4 col-sm-auto mb-2">
					<input type="button" id="check" class="btn btn-dark w-100"
						value="중복확인">
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">이름</label>
				</div>
				<div class="col-12 col-sm-auto mb-2">
					<input type="text" class="form-control" name="realname" id="realname"
						placeholder="이름을 입력해주세요.">
				</div>

			</div>
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">전화번호</label>
				</div>
				

				<div class="col-12 col-sm-auto mb-10">
					<input type="text" class="form-control" name="uphone" id="phone"
						size="11">
				</div>
			</div>
			
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">우편번호</label>
				</div>
				<div class="col-8 col-sm-auto mb-2">
					<input type="text" class="form-control" name="upostcode"
						id="postcode">
				</div>
				<div class="col-4 col-sm-auto mb-2">
					<button type="button" id= "search" class="btn btn-dark w-100" >찾기</button>
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">주소1</label>
				</div>
				<div class="col-12 col-sm-10 mb-2">
					<input type="text" class="form-control" name="address1"
						id="address1" placeholder="주소를 입력해 주세요.">
				</div>
			</div>
			<div class="form-row align-items-center">
				<div class="col-12 col-sm-2 mb-2">
					<label class="mb-0" for="">주소2</label>
				</div>
				<div class="col-12 col-sm-10 mb-2">
					<input type="text" class="form-control" name="address2"
						id="address2" placeholder="주소를 입력해 주세요.">
				</div>
			</div>
			<div class="row align-items-center mt-5">
				<div class="col-4 text-center">
					<input type="button" class="btn btn-outline-primary w-100"
						value="회원가입" id="send">
				</div>
				<div class="col-4 text-center">
					<input type="reset" class="btn btn-outline-secondary w-100"
						value="다시입력">
				</div>
				<div class="col-4 text-center">
					<input type="button" class="btn btn-outline-primary w-100"
						value="뒤로가기" id="back">
				</div>
			</div>
		</form>
	</div>
	</div>
	</div>

</body>
</html>











