<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Promising</title>
</head>
<body>
	<header id="header" th:fragment="fg-header">
		<div class="container">
			<div class="row">
				<div class="col-4 col-md-5">
					<ul class="menu">
						<li class="search" id="search"><img
							th:src=@{/static/images/ic_search.png} alt=""><span>프로젝트
						둘러보기</span></li>
						<li class="register"><a href="#"
							th:href="@{/project/auth/upload1}">프로젝트 올리기</a></li>
					</ul>
				</div>
				<div class="col-4 col-md-2">
					<h1 class="logo">
						<a href="#" th:href="@{/project/main}"> <img
							th:src="@{/static/images/logo.png}">
						</a>
					</h1>
				</div>
				<div class="col-4 col-md-5">
					<div class="utils">
						<div class="pf_wrap" sec:authorize="isAnonymous()">
							<a href="/member/login"> <span>회원가입/로그인</span>
							</a>
						</div>
						<div class="pf_wrap" sec:authorize="isAuthenticated()">
							<form action="/logout" method="post">
								<input type="hidden" th:name="${_csrf.parameterName}"
									th:value="${_csrf.token}">
								<button class="btn btn-primary" id="logout">로그아웃</button>
							</form>
							<a href="#"><span>마이페이지</span>


								<div class="pf_img">
									<img th:src="@{/static/images/atom02.png}">
								</div> </a>
						</div>
					</div>
				</div>
			</div>
		</div>

	</header>
</body>
</html>

