<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Promising</title>
</head>
<body>
	<header id="header" th:fragment="fg-header">
		<div class="container">
			<div class="row">
				<div class="col-4 col-md-5">
					<ul class="menu">
						<li class="search"><a href="#"><img src="../images/ic_search.png" alt=""><span>프로젝트 </span>둘러보기</a></li>
						<li class="register"><a href="#">프로젝트 올리기</a></li>
					</ul>
				</div>
				<div class="col-4 col-md-2">
					<h1 class="logo"><a href="#">Promising</a></h1>
				</div>
				<div class="col-4 col-md-5">
					<div class="utils">
						<a href="#">
							<div class="pf_wrap">
								<div class="pf_img" style="background:url(../images/atom02.png) 50% 50% no-repeat;background-size:cover;"></div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</header>
</body>

</html>