@charset "UTF-8";

@font-face {
	font-family: 'NotoSansCJKkr';
	src: url('../fonts/NotoSansCJKkr-Bold.woff') format('woff'),
		 url('../fonts/NotoSansCJKkr-Bold.ttf') format('ttf'),
		 url('../fonts/NotoSansCJKkr-Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSansCJKkr';
	src: url('../fonts/NotoSansCJKkr-Medium.woff') format('woff'),
		 url('../fonts/NotoSansCJKkr-Medium.otf') format('opentype'),
		 url('../fonts/NotoSansCJKkr-Medium.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSansCJKkr';
	src: url('../fonts/NotoSansCJKkr-Regular.woff') format('woff'),
		 url('../fonts/NotoSansCJKkr-Regular.otf') format('opentype'),
		 url('../fonts/NotoSansCJKkr-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'NotoSansCJKkr';
	src: url('../fonts/NotoSansCJKkr-Light.woff') format('woff'),
		 url('../fonts/NotoSansCJKkr-Light.otf') format('opentype'),
		 url('../fonts/NotoSansCJKkr-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* *{border:1px solid #000;} */

/* reset */
body{font-size:14px;word-break:keep-all;letter-spacing:-.025em;-webkit-text-size-adjust:none;font-family:'NotoSansCJKkr';}
body *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;color:#333;}
a{text-decoration: none !important;}
a:hover, a:focus, a:visited{color:#333;}
dl,dt,dd,ul,li,ol{list-style:none;margin:0;padding:0;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6, p{padding:0;margin:0;}
img{max-width:100%;height:auto !important;}
em,b, strong{font-weight:600;font-style:normal;}
textarea{resize:none;}

/* common */
.wrap{padding-top:10rem;}
header{position:fixed;top:0;left:0;z-index:999;width:100%;height: 65px;box-shadow:rgb(10 10 10 / 10%) 0px 1px 2px 0px;font-weight:600;background-color:#fff;}
header *{height:100%;}
header .menu{width:100%;float:left;}
header .menu li{display:block;width:auto;float:left;line-height:65px;margin-right:18px;}
header .menu li:last-child{margin-right:0;}
header .menu li a{display:inline-block;width:100%;font-weight:600;}
header .menu .search img{display:inline-block;width:24px;height:24px;margin-right:6px;}
header .logo{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);display:inline-block;width:150px;}
/* header .logo a{display:block;font-size:0;text-indent:-9999px;overflow:hidden;width:100%;background-size:contain !important;} */
header .utils{text-align:right;}
header .utils *{display:inline-block;}
header .utils a{display:block;float:right;}
header .utils #logout{display:inline-block;margin-right:15px;line-height:65px;font-weight:600;border:none;background-color:#fff;}
header .utils span{display:inline-block;margin-right:15px;line-height:65px;}
header .pf_wrap {float:right;margin-top:10px;}
header .pf_img{display: none;}
/* header .pf_img.has{background:url(../images/atom02.png) 50% 50% no-repeat;}
header .pf_img.no{background:url(../images/ic_profile.png) 50% 50% no-repeat;} */

.pf_wrap{overflow:hidden;width:auto;margin-bottom:20px;}
.pf_wrap .pf_img{display:block;float:left;width:45px;height:45px;margin-right:15px;background-color:#ddd;border-radius:50%;font-size:0;text-align:center;overflow:hidden;background-size:cover!important;border:1px solid #999;}
.pf_wrap .pf_img.has{background:url(../images/atom02.png) 50% 50% no-repeat;}
.pf_wrap .pf_img.no{background:url(../images/ic_profile.png) 50% 50% no-repeat;}
.pf_wrap .pf_link{float:left;position:relative;padding-top:6px;}
.pf_wrap .pf_link span{line-height:1;}
.pf_wrap .name{display:block;font-weight:600;font-size:16px;}
/* .pf_wrap .name:hover{text-decoration:underline;} */
.pf_wrap .date{display:block;font-weight:300;color:#999;font-size:11px;margin-top:5px;}
.pf_wrap i{position:absolute;top:50%;right:-15px;transform:translateY(-50%)}
/* .contents{margin-top:100px;height: 600px;border:1px solid #ddd;text-align: center;}
.contents .row{height:100%;align-items: center;justify-content: center;} */



/* bootstrap css custom */
.btn-primary, .btn-primary:hover{background-color:#E15488 !important;border:1px solid #E15488 !important;}
a.btn-primary{color:#fff;}
.btn-primary:hover{background-color:#d1497b !important;border:1px solid #d1497b !important;}
.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, 
.show>.btn-primary.dropdown-toggle:focus, .btn-check:focus+.btn-primary, .btn-primary:focus{box-shadow:0 0 0 0.25rem rgba(225,84,136, 0.25) !important}



/* mobile */
@media (max-width: 768px){
	header .menu .search span{font-size:0;}
	header .menu .register{display:none;}
	header .utils span{display:none;}
	header .utils .pf_wrap{height:100%;margin:15px 0 0;}
	header .utils .pf_img{width:35px;height:35px;margin:0;}
}
