.logincontainer{
	min-height:65vh;
	padding-bottom:6rem;
}
.loginBox{
    width: 600px;
   padding: 100px 100px 0px;
       margin: 0px auto 12px;
    margin-top:100px;
}
.forgot>a{
	    color: rgb(39, 163, 255);
    text-decoration: underline;
}
.loginbtn{
	    font-size: 16px;
    line-height: 27px;
    letter-spacing: -0.02em;
          background-color: rgb(255, 87, 87);
}
.loginbtn>span{
	width: 100%;
    cursor: pointer;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    height: 52px;
    white-space: nowrap;
    border-radius: 4px;
    margin: 0px;
    border: 0px;
    outline: none;
    font-weight: bold;
    box-sizing: border-box;
    padding: 0px 24px;
    color: rgb(255, 255, 255);
  }
  .joinbox{
      font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    margin: 20px 0px 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    color: rgb(109, 109, 109);
    }
    .joinbox>span{
    margin: 0px 0px 0px 4px;
    }
    .joinbox>span>a{
        color: rgb(39, 163, 255);
    text-decoration: underline;
    }
    .line{
    overflow: hidden;
    text-align: center;
    padding: 20px 0px;
    position: relative;
    }
    .line ::before{
        content: "";
    position: absolute;
    border-bottom: 1px solid rgb(228, 228, 228);
    left: 0px;
    top: 50%;
    width: 5000px;}
    .ifforgot{
    text-align:center;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: -0.015em;
    }
    .ifforgot>a{
        color: rgb(39, 163, 255);
    text-decoration: underline;}
    .rememberbox>label{
   cursor:pointer;
    }