@charset "utf-8";
* {
  box-sizing: border-box;
}
.container {
  margin: auto;
}
.main {
  margin-top: calc(-10rem + 65px);
}

.mainCarousel {
  margin-bottom: 30px;
}
.carousel-inner > .item > img {
  top: 0;
  left: 0;
}
.carousel-caption > span {
  font-size: 40px;
  font-weight: 700;
}
.listTitle {
  text-align: center;
  margin-top:40px;
  margin-bottom: 40px;
}
.listTitle > h3 {
  font-size: 30px;
  font-weight: 600;
}
/* .listTitle .btn {
  margin-right: 15px;
} */
.card {
  padding-bottom: 50px;
  border: none;
}
.imgDiv {
  overflow: hidden;
  position: relative;
  height:300px;
}
.card .card-img-top {
  padding-right: 10px;
  transition: all 0.2s linear;
  padding: 0;
  display: block;
}
.card .card-img-top:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.card-body {
  padding: 0;
}
.card-body div {
  padding-bottom: 5px;
}
.division {
  color: gray;
}
.writer {
  padding-top: 10px;
}
.writer span{
  color: gray;
  font-size: 14px;
}
.pro_title{
  height:70px;
}
.pro_title > a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 20px;
}
.pro_title > a:hover {
  text-decoration-line: underline;
  cursor: pointer;
}
.achi > span {
  color: #e15488;
  font-size: 15px;
  font-weight: 800;
}
.seeMore{
	text-align:center;
}
.seeMore>button{
	border: 1px solid #cfcfcf;
	background-color: transparent;
	color:rgb(109, 109, 109);
	border-radius: 40px;
	padding: 15px;
	padding-left:30px;
	padding-right:30px;
	font-size: 16px;
}
.seeMore>button:hover{
	cursor: pointer;
	background-color: rgb(242, 242, 242);
}
.lookaround {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: white;
  z-index: 9999;
}
#searchHeader {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 65px;
  box-shadow: rgb(10 10 10 / 10%) 0px 1px 2px 0px;
  font-weight: 600;
  background-color: #fff;
}
#search_close {
  width: 25px;
  height: 25px;
  margin-top: 20px;
  background: #fff url(../images/main/close.png) 50% 50% no-repeat;
  border: none;
  background-size: cover;
  font-size: 0;
}
#searchHeader .search_title {
  font-size: 20px;
  text-align: center;
  line-height: 65px;
}
.search_wrap {
  padding-top: 80px;
}
.search_wrap .btn_wrap .btn {
  margin-right: 10px;
}
.search:hover {
  cursor: pointer;
}
.project {
  margin-top: 50px;
  margin-bottom: 50px;
}
.shortcut > h4 > a {
  color: black;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;
  line-height: 45px;
}
.shortcut > h4 > a:hover {
  color: gray;
}
.tag > h6 {
  font-size: 17px;
  margin-bottom: 20px;
}
