.joinbox {
	border: 1px solid #ddd;
	max-width: 700px;
}

.joinhi {
	text-align: center;
	margin-bottom: 45px;
}

input, button, select {
	font-size: 0.9rem !important;
}

div[class*="col-"] span {
	font-size: 13px;
}

.form-row:last-of-type input {
	font-weight: bold;
}

.pw-check span {
	display: none;
}