<!DOCTYPE html>
<html lang="ko" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promising</title>
   
   <th:block th:replace="fragments/commonHead"></th:block>
   <link rel="stylesheet" type="text/css" th:href="@{/static/css/common_style.css}">
	<link th:href="@{/static/css/upload2.css}" rel="stylesheet">
	 <script type="text/javascript" th:src="@{/static/js/common.js}"></script>
    <script type="text/javascript" th:src="@{/static/js/upload2.js}"></script>
</head>
<body>
  <div class="wrap">
   <header th:replace="fragments/header.html :: fg-header"></header>
     <div class="container">
      <div class="projectcheck">
        <div class="row pullbox">
          <div class="col-md-5 d-none d-md-block leftcover">
          </div>
          <div class="col-12 col-md-7 rightcontents">
            <div class="contentswrap">
              <div class="mentbox">
                <h2>마지막으로, 이런 준비가 필요해요.</h2>
                <p>프로젝트를 진행하시려면 아래 내용을 준비해주세요.</p>
                <ul class="checkul">
                  <li><label for="nineteen">
                    <input type="checkbox" id="nineteen" name="nineteen" class="checking">
                    <div>대표 창작자는 <strong>만 19세 이상의 성인</strong>이여야 합니다.</div>
                  </label></li>
                  <li>
                    <label for="phoneequalemail">
                      <input type="checkbox" id="phoneequalemail" name="phoneequalemail" class="checking">
                      <div>Promising에서 필요 시 연락 드릴 수 있도록 <strong>본인 명의의 휴대폰 번호</strong>와 <strong>이메일 주소</strong>가 필요합니다.</div>
                    </label>
                  </li>
                  <li>
                    <label for="account">
                      <input type="checkbox" id="account" name="account" class="checking">
                      <div>펀딩 성공 후의 정산을 위해 <strong>신분증 또는 사업자 등록증, 국내 은행 계좌</strong>를 준비해주세요.</div>
                    </label>
                  </li>
                  <li>
                    <label for="refund">
                      <input type="checkbox" id="refund" name="refund" class="checking">
                      <div><strong>환불 정책</strong>을 확인해주세요!</div>
                    </label>
                  </li>
                </ul>
                <div class="twobtn"> 
                  <button id="back" class="btn btn-dark">뒤로가기</button>
                  <button type="button" id="next" class="btn btn-primary" disabled="disabled">시작하기</button>
                  <!-- <button id="next" disabled>시작하기</button> -->
                  <!-- <button id="notnext">시작하기</button> -->
                </div>
              </div>
            </div>
          </div>  
        </div>
        
<div th:replace="fragments/lookaround.html :: fg-lookaround"></div>

      </div>
    </div>
</div>
<footer th:replace="fragments/footer.html :: fg-footer"></footer>
</body>
</html>